In [3]:
import sqlite3
import pandas as pd
import numpy as np

# NOTA
El DataFrame df se crea a partir de la tabla basa_datos_pripal de la base de datos credit_scoring.db. El archivo no se incluye en el repositorio debido a su tamaño; la generación de la base de datos a partir del CSV original y la creación de la tabla se explica detalladamente en el notebook data-collection.ipynb

Descriptive analysis:
In this part of the project, we begin exploring the dataset created from the initial information obtained from the LendingClub dataset (Kaggle). The objective of this stage is to describe and understand the structure of the data, the variables and their types, their distributions, skewness, and the presence of missing values.

In [ ]:
# pd.read_sql(
#     "SELECT name FROM sqlite_master WHERE type='table';",
#     conn
# )

:

In [2]:
conn = sqlite3.connect("/workspaces/final_project_creditscoring/Data/credit_scoring.db")
df = pd.read_sql("SELECT * FROM basa_datos_pripal", conn)
conn.close()

In [ ]:
# conn = sqlite3.connect("/workspaces/final_project_creditscoring/Data/credit_scoring.db")
# df = pd.read_sql("SELECT * FROM basa_datos_pripal", conn)
# conn.close()
# n_rows,n_cols = df.shape

# print(f'En este df existen {n_rows} filas y {n_cols} columnas')

:

In [4]:
conn = sqlite3.connect("/workspaces/final_project_creditscoring/Data/credit_scoring.db")

df = pd.read_sql(
    """
    SELECT *
    FROM basa_datos_pripal
    ORDER BY RANDOM()
    LIMIT 30000
    """,
    conn
)

conn.close()
df.shape

(30000, 151)

In [5]:
n_rows,n_cols = df.shape
print(f'En este df existen {n_rows} filas y {n_cols} columnas')

En este df existen 30000 filas y 151 columnas

With the analysis below, we can understand that the dataset contains a large number of numerical variables, along with several categorical features represented as object types. This initial inspection highlights the need for feature selection and type handling in later stages. Now we are proceeding with a list of each type of column to identify possible issues in data types (such as date columns that are objects or numerical data that is shown as objects, etc.).

In [ ]:
cols_types = df.dtypes.reset_index().rename(
    columns={'index': 'column_name', 0: 'dtype'}
)

cols_types['dtype'].value_counts()

dtype
float64    112
object      38
int64        1
Name: count, dtype: int64

In [ ]:
cols_types[cols_types['dtype'] == 'object']

                   column_name   dtype
1                    member_id  object
5                         term  object
8                        grade  object
9                    sub_grade  object
10                   emp_title  object
11                  emp_length  object
12              home_ownership  object
14         verification_status  object
15                     issue_d  object
16                 loan_status  object
17                  pymnt_plan  object
18                         url  object
19                        desc  object
20                     purpose  object
21                       title  object
22                    zip_code  object
23                  addr_state  object
26            earliest_cr_line  object
37         initial_list_status  object
47                last_pymnt_d  object
49                next_pymnt_d  object
50          last_credit_pull_d  object
56            application_type  object
59   verification_status_joint  object
118   sec_app_earliest_cr_line  object
128              hardship_flag  object
129              hardship_type  object
130            hardship_reason  object
131            hardship_status  object
134        hardship_start_date  object
135          hardship_end_date  object
136    payment_plan_start_date  object
139       hardship_loan_status  object
143        disbursement_method  object
144       debt_settlement_flag  object
145  debt_settlement_flag_date  object
146          settlement_status  object
147            settlement_date  object

In [ ]:
print(cols_types[cols_types['dtype'] == 'float64'].to_string(index=False))

                               column_name   dtype
                                 loan_amnt float64
                               funded_amnt float64
                           funded_amnt_inv float64
                                  int_rate float64
                               installment float64
                                annual_inc float64
                                       dti float64
                               delinq_2yrs float64
                            fico_range_low float64
                           fico_range_high float64
                            inq_last_6mths float64
                    mths_since_last_delinq float64
                    mths_since_last_record float64
                                  open_acc float64
                                   pub_rec float64
                                 revol_bal float64
                                revol_util float64
                                 total_acc float64
                                 out_prncp float64
                             out_prncp_inv float64
                               total_pymnt float64
                           total_pymnt_inv float64
                           total_rec_prncp float64
                             total_rec_int float64
                        total_rec_late_fee float64
                                recoveries float64
                   collection_recovery_fee float64
                           last_pymnt_amnt float64
                      last_fico_range_high float64
                       last_fico_range_low float64
                collections_12_mths_ex_med float64
               mths_since_last_major_derog float64
                               policy_code float64
                          annual_inc_joint float64
                                 dti_joint float64
                            acc_now_delinq float64
                              tot_coll_amt float64
                               tot_cur_bal float64
                               open_acc_6m float64
                               open_act_il float64
                               open_il_12m float64
                               open_il_24m float64
                        mths_since_rcnt_il float64
                              total_bal_il float64
                                   il_util float64
                               open_rv_12m float64
                               open_rv_24m float64
                                max_bal_bc float64
                                  all_util float64
                          total_rev_hi_lim float64
                                    inq_fi float64
                               total_cu_tl float64
                              inq_last_12m float64
                      acc_open_past_24mths float64
                               avg_cur_bal float64
                            bc_open_to_buy float64
                                   bc_util float64
                  chargeoff_within_12_mths float64
                               delinq_amnt float64
                        mo_sin_old_il_acct float64
                      mo_sin_old_rev_tl_op float64
                     mo_sin_rcnt_rev_tl_op float64
                            mo_sin_rcnt_tl float64
                                  mort_acc float64
                      mths_since_recent_bc float64
                  mths_since_recent_bc_dlq float64
                     mths_since_recent_inq float64
            mths_since_recent_revol_delinq float64
                     num_accts_ever_120_pd float64
                            num_actv_bc_tl float64
                           num_actv_rev_tl float64
                               num_bc_sats float64
                                 num_bc_tl float64
                                 num_il_tl float64
                             num_op_rev_tl float64
                             num_rev_accts float64
                       num_rev_tl_bal_gt_0 float64
                                  num_sats float64
                          num_tl_120dpd_2m float64
                              num_tl_30dpd float64
                        num_tl_90g_dpd_24m float64
                        num_tl_op_past_12m float64
                            pct_tl_nvr_dlq float64
                          percent_bc_gt_75 float64
                      pub_rec_bankruptcies float64
                                 tax_liens float64
                           tot_hi_cred_lim float64
                         total_bal_ex_mort float64
                            total_bc_limit float64
                total_il_high_credit_limit float64
                           revol_bal_joint float64
                    sec_app_fico_range_low float64
                   sec_app_fico_range_high float64
                    sec_app_inq_last_6mths float64
                          sec_app_mort_acc float64
                          sec_app_open_acc float64
                        sec_app_revol_util float64
                       sec_app_open_act_il float64
                     sec_app_num_rev_accts float64
          sec_app_chargeoff_within_12_mths float64
        sec_app_collections_12_mths_ex_med float64
       sec_app_mths_since_last_major_derog float64
                             deferral_term float64
                           hardship_amount float64
                           hardship_length float64
                              hardship_dpd float64
orig_projected_additional_accrued_interest float64
            hardship_payoff_balance_amount float64
              hardship_last_payment_amount float64
                         settlement_amount float64
                     settlement_percentage float64
                           settlement_term float64

In [ ]:
cols_types[cols_types['dtype'] == 'int64']

  column_name  dtype
0          id  int64

Revision of constant columns:

The following code initially didn’t specify dropna=False, which made it show a few columns as constants. This led us to investigate what was happening and whether we were working with the right dataframe. However, this mistake was enlightening, as it helped us identify possible *data leakage variables, such as: hardship_type, deferral_term, and hardship_length.*

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)

# Unique values per column
uniq = df.nunique(dropna=False)

# Show results
print(uniq)

id                                            192309
member_id                                          1
loan_amnt                                       1447
funded_amnt                                     1447
funded_amnt_inv                                 4951
term                                               2
int_rate                                         499
installment                                    42629
grade                                              7
sub_grade                                         35
emp_title                                      92975
emp_length                                        12
home_ownership                                     6
annual_inc                                     15656
verification_status                                3
issue_d                                          103
loan_status                                        9
pymnt_plan                                         2
url                                           192309
desc                                           42287
purpose                                           14
title                                          25632
zip_code                                         888
addr_state                                        51
dti                                             5100
delinq_2yrs                                       23
earliest_cr_line                                 673
fico_range_low                                    38
fico_range_high                                   38
inq_last_6mths                                     9
mths_since_last_delinq                           133
mths_since_last_record                           124
open_acc                                          63
pub_rec                                           18
revol_bal                                      45653
revol_util                                      1178
total_acc                                        109
initial_list_status                                2
out_prncp                                      35625
out_prncp_inv                                  36100
total_pymnt                                   183794
total_pymnt_inv                               171050
total_rec_prncp                                61352
total_rec_int                                 148062
total_rec_late_fee                              4686
recoveries                                     18080
collection_recovery_fee                        16330
last_pymnt_d                                     106
last_pymnt_amnt                               120405
next_pymnt_d                                      69
last_credit_pull_d                               106
last_fico_range_high                              72
last_fico_range_low                               71
collections_12_mths_ex_med                        10
mths_since_last_major_derog                      143
policy_code                                        1
application_type                                   2
annual_inc_joint                                1520
dti_joint                                       2628
verification_status_joint                          4
acc_now_delinq                                     4
tot_coll_amt                                    4388
tot_cur_bal                                   112222
open_acc_6m                                       15
open_act_il                                       40
open_il_12m                                       13
open_il_24m                                       21
mths_since_rcnt_il                               256
total_bal_il                                   43674
il_util                                          187
open_rv_12m                                       23
open_rv_24m                                       35
max_bal_bc                                     17002
all_util                                         156
total_rev_hi_lim                                6552
inq_fi                                            22
total_cu_tl                                       44
inq_last_12m                                      35
acc_open_past_24mths                              41
avg_cur_bal                                    40882
bc_open_to_buy                                 36628
bc_util                                         1184
chargeoff_within_12_mths                           7
delinq_amnt                                      336
mo_sin_old_il_acct                               436
mo_sin_old_rev_tl_op                             666
mo_sin_rcnt_rev_tl_op                            215
mo_sin_rcnt_tl                                   150
mort_acc                                          28
mths_since_recent_bc                             372
mths_since_recent_bc_dlq                         136
mths_since_recent_inq                             27
mths_since_recent_revol_delinq                   140
num_accts_ever_120_pd                             27
num_actv_bc_tl                                    30
num_actv_rev_tl                                   44
num_bc_sats                                       42
num_bc_tl                                         54
num_il_tl                                         80
num_op_rev_tl                                     57
num_rev_accts                                     85
num_rev_tl_bal_gt_0                               40
num_sats                                          64
num_tl_120dpd_2m                                   4
num_tl_30dpd                                       5
num_tl_90g_dpd_24m                                22
num_tl_op_past_12m                                26
pct_tl_nvr_dlq                                   483
percent_bc_gt_75                                 173
pub_rec_bankruptcies                               8
tax_liens                                         17
tot_hi_cred_lim                               109016
total_bal_ex_mort                              82661
total_bc_limit                                  5200
total_il_high_credit_limit                     69936
revol_bal_joint                                 5000
sec_app_fico_range_low                            61
sec_app_fico_range_high                           61
sec_app_earliest_cr_line                         484
sec_app_inq_last_6mths                             8
sec_app_mort_acc                                  14
sec_app_open_acc                                  52
sec_app_revol_util                              1016
sec_app_open_act_il                               32
sec_app_num_rev_accts                             60
sec_app_chargeoff_within_12_mths                  10
sec_app_collections_12_mths_ex_med                 8
sec_app_mths_since_last_major_derog               97
hardship_flag                                      2
hardship_type                                      2
hardship_reason                                   10
hardship_status                                    4
deferral_term                                      2
hardship_amount                                  599
hardship_start_date                               24
hardship_end_date                                 27
payment_plan_start_date                           25
hardship_length                                    2
hardship_dpd                                      31
hardship_loan_status                               6
orig_projected_additional_accrued_interest       464
hardship_payoff_balance_amount                   604
hardship_last_payment_amount                     587
disbursement_method                                2
debt_settlement_flag                               2
debt_settlement_flag_date                         77
settlement_status                                  4
settlement_date                                   85
settlement_amount                               2324
settlement_percentage                            446
settlement_term                                   29
dtype: int64

In [ ]:
uniq = df.nunique(dropna=False)
uniq[uniq == 1]

member_id      1
policy_code    1
dtype: int64

After the code revision, the only two variables with constant values are member_id and policy_code. It does not make much sense to have a unique value for member_id if we have almost 200k data entries, so we needed to check the exact values contained in this column.

In [ ]:
cols = ['member_id', 'policy_code']

for col in cols:
    print(df[col].value_counts(dropna=False))

member_id
None    192309
Name: count, dtype: int64
policy_code
1.0    192309
Name: count, dtype: int64

After doing so, we discovered that it only contains None, which means the column is not relevant at all for this project and can therefore be discarded.

Regarding policy_code, a similar situation occurs. According to the data dictionary, LendingClub has only two types of policies: publicly available (1) and new products not publicly available (2). In this dataset, only publicly available products are present. Therefore, and following the same reasoning as above, policy_code is not a relevant column for the analysis.

In [ ]:
df = df.drop(columns=['member_id', 'policy_code'])

Revision of Duplicated Rows: No duplicated rows were identified.

In [ ]:
df.duplicated().sum()

np.int64(0)

Revision of Duplicated Columns:

In [ ]:
df.T.duplicated().sum()
df.T.duplicated(keep=False)

id                                            False
loan_amnt                                     False
funded_amnt                                   False
funded_amnt_inv                               False
term                                          False
int_rate                                      False
installment                                   False
grade                                         False
sub_grade                                     False
emp_title                                     False
emp_length                                    False
home_ownership                                False
annual_inc                                    False
verification_status                           False
issue_d                                       False
loan_status                                   False
pymnt_plan                                    False
url                                           False
desc                                          False
purpose                                       False
title                                         False
zip_code                                      False
addr_state                                    False
dti                                           False
delinq_2yrs                                   False
earliest_cr_line                              False
fico_range_low                                False
fico_range_high                               False
inq_last_6mths                                False
mths_since_last_delinq                        False
mths_since_last_record                        False
open_acc                                      False
pub_rec                                       False
revol_bal                                     False
revol_util                                    False
total_acc                                     False
initial_list_status                           False
out_prncp                                     False
out_prncp_inv                                 False
total_pymnt                                   False
total_pymnt_inv                               False
total_rec_prncp                               False
total_rec_int                                 False
total_rec_late_fee                            False
recoveries                                    False
collection_recovery_fee                       False
last_pymnt_d                                  False
last_pymnt_amnt                               False
next_pymnt_d                                  False
last_credit_pull_d                            False
last_fico_range_high                          False
last_fico_range_low                           False
collections_12_mths_ex_med                    False
mths_since_last_major_derog                   False
application_type                              False
annual_inc_joint                              False
dti_joint                                     False
verification_status_joint                     False
acc_now_delinq                                False
tot_coll_amt                                  False
tot_cur_bal                                   False
open_acc_6m                                   False
open_act_il                                   False
open_il_12m                                   False
open_il_24m                                   False
mths_since_rcnt_il                            False
total_bal_il                                  False
il_util                                       False
open_rv_12m                                   False
open_rv_24m                                   False
max_bal_bc                                    False
all_util                                      False
total_rev_hi_lim                              False
inq_fi                                        False
total_cu_tl                                   False
inq_last_12m                                  False
acc_open_past_24mths                          False
avg_cur_bal                                   False
bc_open_to_buy                                False
bc_util                                       False
chargeoff_within_12_mths                      False
delinq_amnt                                   False
mo_sin_old_il_acct                            False
mo_sin_old_rev_tl_op                          False
mo_sin_rcnt_rev_tl_op                         False
mo_sin_rcnt_tl                                False
mort_acc                                      False
mths_since_recent_bc                          False
mths_since_recent_bc_dlq                      False
mths_since_recent_inq                         False
mths_since_recent_revol_delinq                False
num_accts_ever_120_pd                         False
num_actv_bc_tl                                False
num_actv_rev_tl                               False
num_bc_sats                                   False
num_bc_tl                                     False
num_il_tl                                     False
num_op_rev_tl                                 False
num_rev_accts                                 False
num_rev_tl_bal_gt_0                           False
num_sats                                      False
num_tl_120dpd_2m                              False
num_tl_30dpd                                  False
num_tl_90g_dpd_24m                            False
num_tl_op_past_12m                            False
pct_tl_nvr_dlq                                False
percent_bc_gt_75                              False
pub_rec_bankruptcies                          False
tax_liens                                     False
tot_hi_cred_lim                               False
total_bal_ex_mort                             False
total_bc_limit                                False
total_il_high_credit_limit                    False
revol_bal_joint                               False
sec_app_fico_range_low                        False
sec_app_fico_range_high                       False
sec_app_earliest_cr_line                      False
sec_app_inq_last_6mths                        False
sec_app_mort_acc                              False
sec_app_open_acc                              False
sec_app_revol_util                            False
sec_app_open_act_il                           False
sec_app_num_rev_accts                         False
sec_app_chargeoff_within_12_mths              False
sec_app_collections_12_mths_ex_med            False
sec_app_mths_since_last_major_derog           False
hardship_flag                                 False
hardship_type                                 False
hardship_reason                               False
hardship_status                               False
deferral_term                                  True
hardship_amount                               False
hardship_start_date                           False
hardship_end_date                             False
payment_plan_start_date                       False
hardship_length                                True
hardship_dpd                                  False
hardship_loan_status                          False
orig_projected_additional_accrued_interest    False
hardship_payoff_balance_amount                False
hardship_last_payment_amount                  False
disbursement_method                           False
debt_settlement_flag                          False
debt_settlement_flag_date                     False
settlement_status                             False
settlement_date                               False
settlement_amount                             False
settlement_percentage                         False
settlement_term                               False
dtype: bool

Two variables (deferral_term and hardship_length) were found to be exact duplicates, containing identical values across all observations. Both variables are related to post-loan hardship events (we previously identified them as potential data leakers) and will therefore be excluded from the modeling stage.

Identify Missing Values

In [ ]:
missing = df.isna().mean()*100
missing[missing>0]
print(missing)

id                                             0.000000
loan_amnt                                      0.000000
funded_amnt                                    0.000000
funded_amnt_inv                                0.000000
term                                           0.000000
int_rate                                       0.000000
installment                                    0.000000
grade                                          0.000000
sub_grade                                      0.000000
emp_title                                      6.813514
emp_length                                     5.422523
home_ownership                                 0.000000
annual_inc                                     0.000000
verification_status                            0.000000
issue_d                                        0.000000
loan_status                                    0.000000
pymnt_plan                                     0.000000
url                                            0.000000
desc                                          77.978670
purpose                                        0.000000
title                                          0.649476
zip_code                                       0.000000
addr_state                                     0.000000
dti                                            0.035360
delinq_2yrs                                    0.000000
earliest_cr_line                               0.000000
fico_range_low                                 0.000000
fico_range_high                                0.000000
inq_last_6mths                                 0.000000
mths_since_last_delinq                        54.782147
mths_since_last_record                        87.175327
open_acc                                       0.000000
pub_rec                                        0.000000
revol_bal                                      0.000000
revol_util                                     0.063960
total_acc                                      0.000000
initial_list_status                            0.000000
out_prncp                                      0.000000
out_prncp_inv                                  0.000000
total_pymnt                                    0.000000
total_pymnt_inv                                0.000000
total_rec_prncp                                0.000000
total_rec_int                                  0.000000
total_rec_late_fee                             0.000000
recoveries                                     0.000000
collection_recovery_fee                        0.000000
last_pymnt_d                                   0.112839
last_pymnt_amnt                                0.000000
next_pymnt_d                                  75.705245
last_credit_pull_d                             0.004680
last_fico_range_high                           0.000000
last_fico_range_low                            0.000000
collections_12_mths_ex_med                     0.000000
mths_since_last_major_derog                   80.238054
application_type                               0.000000
annual_inc_joint                              96.907581
dti_joint                                     96.907581
verification_status_joint                     97.014180
acc_now_delinq                                 0.000000
tot_coll_amt                                  23.138283
tot_cur_bal                                   23.138283
open_acc_6m                                   63.197250
open_act_il                                   63.197250
open_il_12m                                   63.197250
open_il_24m                                   63.197250
mths_since_rcnt_il                            64.383882
total_bal_il                                  63.197250
il_util                                       68.575574
open_rv_12m                                   63.197250
open_rv_24m                                   63.197250
max_bal_bc                                    63.197250
all_util                                      63.200370
total_rev_hi_lim                              23.138283
inq_fi                                        63.197250
total_cu_tl                                   63.197250
inq_last_12m                                  63.197250
acc_open_past_24mths                          18.034517
avg_cur_bal                                   23.140883
bc_open_to_buy                                18.922671
bc_util                                       18.954911
chargeoff_within_12_mths                       0.000000
delinq_amnt                                    0.000000
mo_sin_old_il_acct                            25.675345
mo_sin_old_rev_tl_op                          23.138283
mo_sin_rcnt_rev_tl_op                         23.138283
mo_sin_rcnt_tl                                23.138283
mort_acc                                      18.034517
mths_since_recent_bc                          18.848832
mths_since_recent_bc_dlq                      81.629565
mths_since_recent_inq                         27.165655
mths_since_recent_revol_delinq                73.064183
num_accts_ever_120_pd                         23.138283
num_actv_bc_tl                                23.138283
num_actv_rev_tl                               23.138283
num_bc_sats                                   20.605900
num_bc_tl                                     23.138283
num_il_tl                                     23.138283
num_op_rev_tl                                 23.138283
num_rev_accts                                 23.138283
num_rev_tl_bal_gt_0                           23.138283
num_sats                                      20.605900
num_tl_120dpd_2m                              25.563026
num_tl_30dpd                                  23.138283
num_tl_90g_dpd_24m                            23.138283
num_tl_op_past_12m                            23.138283
pct_tl_nvr_dlq                                23.146603
percent_bc_gt_75                              18.938791
pub_rec_bankruptcies                           0.000000
tax_liens                                      0.000000
tot_hi_cred_lim                               23.138283
total_bal_ex_mort                             18.034517
total_bc_limit                                18.034517
total_il_high_credit_limit                    23.138283
revol_bal_joint                               97.293938
sec_app_fico_range_low                        97.293938
sec_app_fico_range_high                       97.293938
sec_app_earliest_cr_line                      97.293938
sec_app_inq_last_6mths                        97.293938
sec_app_mort_acc                              97.293938
sec_app_open_acc                              97.293938
sec_app_revol_util                            97.348018
sec_app_open_act_il                           97.293938
sec_app_num_rev_accts                         97.293938
sec_app_chargeoff_within_12_mths              97.293938
sec_app_collections_12_mths_ex_med            97.293938
sec_app_mths_since_last_major_derog           99.095726
hardship_flag                                  0.000000
hardship_type                                 99.685922
hardship_reason                               99.685922
hardship_status                               99.685922
deferral_term                                 99.685922
hardship_amount                               99.685922
hardship_start_date                           99.685922
hardship_end_date                             99.685922
payment_plan_start_date                       99.685922
hardship_length                               99.685922
hardship_dpd                                  99.685922
hardship_loan_status                          99.685922
orig_projected_additional_accrued_interest    99.756642
hardship_payoff_balance_amount                99.685922
hardship_last_payment_amount                  99.685922
disbursement_method                            0.000000
debt_settlement_flag                           0.000000
debt_settlement_flag_date                     98.681809
settlement_status                             98.681809
settlement_date                               98.681809
settlement_amount                             98.681809
settlement_percentage                         98.681809
settlement_term                               98.681809
dtype: float64

We identified columns with a high percentage of missing values, so we proceeded to define a missing threshold of 50%, where variables with more than 50% missing values will be considered for exclusion from the modeling stage. However, first we must evaluate them on a case-by-case basis to understand if any of those variables are conceptually important.

In [ ]:
missing_threshold = 50

high_missing_cols = missing[missing >= missing_threshold]
print(high_missing_cols)

desc                                          77.978670
mths_since_last_delinq                        54.782147
mths_since_last_record                        87.175327
next_pymnt_d                                  75.705245
mths_since_last_major_derog                   80.238054
annual_inc_joint                              96.907581
dti_joint                                     96.907581
verification_status_joint                     97.014180
open_acc_6m                                   63.197250
open_act_il                                   63.197250
open_il_12m                                   63.197250
open_il_24m                                   63.197250
mths_since_rcnt_il                            64.383882
total_bal_il                                  63.197250
il_util                                       68.575574
open_rv_12m                                   63.197250
open_rv_24m                                   63.197250
max_bal_bc                                    63.197250
all_util                                      63.200370
inq_fi                                        63.197250
total_cu_tl                                   63.197250
inq_last_12m                                  63.197250
mths_since_recent_bc_dlq                      81.629565
mths_since_recent_revol_delinq                73.064183
revol_bal_joint                               97.293938
sec_app_fico_range_low                        97.293938
sec_app_fico_range_high                       97.293938
sec_app_earliest_cr_line                      97.293938
sec_app_inq_last_6mths                        97.293938
sec_app_mort_acc                              97.293938
sec_app_open_acc                              97.293938
sec_app_revol_util                            97.348018
sec_app_open_act_il                           97.293938
sec_app_num_rev_accts                         97.293938
sec_app_chargeoff_within_12_mths              97.293938
sec_app_collections_12_mths_ex_med            97.293938
sec_app_mths_since_last_major_derog           99.095726
hardship_type                                 99.685922
hardship_reason                               99.685922
hardship_status                               99.685922
deferral_term                                 99.685922
hardship_amount                               99.685922
hardship_start_date                           99.685922
hardship_end_date                             99.685922
payment_plan_start_date                       99.685922
hardship_length                               99.685922
hardship_dpd                                  99.685922
hardship_loan_status                          99.685922
orig_projected_additional_accrued_interest    99.756642
hardship_payoff_balance_amount                99.685922
hardship_last_payment_amount                  99.685922
debt_settlement_flag_date                     98.681809
settlement_status                             98.681809
settlement_date                               98.681809
settlement_amount                             98.681809
settlement_percentage                         98.681809
settlement_term                               98.681809
dtype: float64

In [ ]:
(missing > 50).sum()

np.int64(57)

Columns with more than 50% missing values were manually reviewed and classified into post-loan variables, second-applicant features, structurally missing variables, and late-reported behavioral features based on domain knowledge and data documentation. No features were removed at this stage; the analysis documents decisions to be applied during model preparation.

In [ ]:
high_missing_review = pd.DataFrame({
    "column": high_missing_cols.index,
    "missing_pct": high_missing_cols.values
})

In [ ]:
def classify_column(col):
    if col.startswith("hardship") or col.startswith("settlement") or col.startswith("deferral"):
        return "post_loan"
    if col.startswith("sec_app") or col.endswith("_joint"):
        return "second_applicant"
    if col.startswith("mths_since"):
        return "structural_missing"
    return "late_reported"

In [ ]:
high_missing_review["category"] = high_missing_review["column"].apply(classify_column)

high_missing_review

,column,missing_pct,category
0,desc,77.978670,late_reported
1,mths_since_last_delinq,54.782147,structural_missing
2,mths_since_last_record,87.175327,structural_missing
3,next_pymnt_d,75.705245,late_reported
4,mths_since_last_major_derog,80.238054,structural_missing
5,annual_inc_joint,96.907581,second_applicant
6,dti_joint,96.907581,second_applicant
7,verification_status_joint,97.014180,second_applicant
8,open_acc_6m,63.197250,late_reported
9,open_act_il,63.197250,late_reported
10,open_il_12m,63.197250,late_reported
11,open_il_24m,63.197250,late_reported
12,mths_since_rcnt_il,64.383882,structural_missing
13,total_bal_il,63.197250,late_reported
14,il_util,68.575574,late_reported
15,open_rv_12m,63.197250,late_reported
16,open_rv_24m,63.197250,late_reported
17,max_bal_bc,63.197250,late_reported
18,all_util,63.200370,late_reported
19,inq_fi,63.197250,late_reported
20,total_cu_tl,63.197250,late_reported
21,inq_last_12m,63.197250,late_reported
22,mths_since_recent_bc_dlq,81.629565,structural_missing
23,mths_since_recent_revol_delinq,73.064183,structural_missing
24,revol_bal_joint,97.293938,second_applicant
25,sec_app_fico_range_low,97.293938,second_applicant
26,sec_app_fico_range_high,97.293938,second_applicant
27,sec_app_earliest_cr_line,97.293938,second_applicant
28,sec_app_inq_last_6mths,97.293938,second_applicant
29,sec_app_mort_acc,97.293938,second_applicant
30,sec_app_open_acc,97.293938,second_applicant
31,sec_app_revol_util,97.348018,second_applicant
32,sec_app_open_act_il,97.293938,second_applicant
33,sec_app_num_rev_accts,97.293938,second_applicant
34,sec_app_chargeoff_within_12_mths,97.293938,second_applicant
35,sec_app_collections_12_mths_ex_med,97.293938,second_applicant
36,sec_app_mths_since_last_major_derog,99.095726,second_applicant
37,hardship_type,99.685922,post_loan
38,hardship_reason,99.685922,post_loan
39,hardship_status,99.685922,post_loan
40,deferral_term,99.685922,post_loan
41,hardship_amount,99.685922,post_loan
42,hardship_start_date,99.685922,post_loan
43,hardship_end_date,99.685922,post_loan
44,payment_plan_start_date,99.685922,late_reported
45,hardship_length,99.685922,post_loan
46,hardship_dpd,99.685922,post_loan
47,hardship_loan_status,99.685922,post_loan
48,orig_projected_additional_accrued_interest,99.756642,late_reported
49,hardship_payoff_balance_amount,99.685922,post_loan
50,hardship_last_payment_amount,99.685922,post_loan
51,debt_settlement_flag_date,98.681809,late_reported
52,settlement_status,98.681809,post_loan
53,settlement_date,98.681809,post_loan
54,settlement_amount,98.681809,post_loan
55,settlement_percentage,98.681809,post_loan
56,settlement_term,98.681809,post_loan

1. *Post-loan variables:*

These features contain information generated after loan origination, such as hardship or settlement events. Their high missingness reflects the fact that most loans do not enter these processes. Because these variables include future information relative to the credit decision, they were identified as potential sources of data leakage.

Planned decision: Exclude during model preparation.

2. *Second-applicant variables:*

These variables describe characteristics of a co-borrower in joint loan applications. The high proportion of missing values reflects that most loans involve a single applicant, meaning missing values indicate the absence of a second applicant rather than missing information.

Rather than modeling the full co-borrower profile, the presence of a second applicant is captured through a binary indicator. This approach preserves potentially relevant information while avoiding additional complexity and extensive imputation.

Planned decision: Create a binary flag indicating whether a loan includes a second applicant, and exclude detailed second-applicant features during model preparation.

3. *Structurally missing variables:*

These features represent the time since the last occurrence of negative credit events. Missing values indicate that the event has never occurred, making the missingness itself informative.

Planned decision: Retain for modeling and apply a dedicated imputation strategy at a later stage.

4. *Late-reported features:*

These variables were introduced into the dataset at later periods and are unavailable for older loans. Missingness is driven by historical reporting limitations rather than borrower behavior.

Planned decision: Evaluate after defining the temporal train-test split.

In [ ]:
zero_ratio = (df == 0).mean() * 100
zero_ratio = zero_ratio[zero_ratio > 0].sort_values(ascending=False)

zero_ratio.head(20)

delinq_amnt                   99.771202
acc_now_delinq                99.702042
chargeoff_within_12_mths      99.412924
collections_12_mths_ex_med    98.901247
tax_liens                     97.929374
total_rec_late_fee            96.115106
collection_recovery_fee       90.665023
pub_rec_bankruptcies          90.167387
recoveries                    89.107634
pub_rec                       87.175327
delinq_2yrs                   83.199954
num_tl_30dpd                  76.676079
out_prncp                     76.144122
out_prncp_inv                 76.144122
num_tl_120dpd_2m              74.385494
num_tl_90g_dpd_24m            72.702786
tot_coll_amt                  65.989631
num_accts_ever_120_pd         59.765274
inq_last_6mths                56.788814
mort_acc                      34.524645
dtype: float64

In [ ]:
#Identify other missing values
cat_col = df.select_dtypes(include=['object']).columns

for col in cat_col: 
    print(df[col].value_counts())

term
36 months    137472
60 months     54837
Name: count, dtype: int64
grade
B    57542
C    51332
A    37335
D    27757
E    12718
Name: count, dtype: int64
sub_grade
B3    12706
B4    12370
C1    12100
B5    11572
C2    11040
Name: count, dtype: int64
emp_title
None          13103
Teacher        2338
Manager        1952
Owner          1249
Supervisor      933
Name: count, dtype: int64
emp_length
10+ years    60263
2 years      17674
< 1 year     16144
3 years      15639
5 years      13163
Name: count, dtype: int64
home_ownership
MORTGAGE    93952
RENT        79309
OWN         18968
ANY            52
OTHER          15
Name: count, dtype: int64
verification_status
Source Verified    67530
Not Verified       62455
Verified           62324
Name: count, dtype: int64
issue_d
2011-10-01 00:00:00    1941
2011-11-01 00:00:00    1941
2011-12-01 00:00:00    1941
2012-01-01 00:00:00    1941
2012-02-01 00:00:00    1941
Name: count, dtype: int64
loan_status
Fully Paid            119522
Current                44223
Charged Off            26066
Late (31-120 days)      1180
In Grace Period          468
Name: count, dtype: int64
pymnt_plan
n    192275
y        34
Name: count, dtype: int64
url
https://lendingclub.com/browse/loanDetail.action?loan_id=521942    1
https://lendingclub.com/browse/loanDetail.action?loan_id=534192    1
https://lendingclub.com/browse/loanDetail.action?loan_id=524615    1
https://lendingclub.com/browse/loanDetail.action?loan_id=526429    1
https://lendingclub.com/browse/loanDetail.action?loan_id=518677    1
Name: count, dtype: int64
desc
None                                                     149960
Debt Consolidation                                            5
                                                              4
  Borrower added on 03/14/14 > Debt Consolidation<br>         3
  Borrower added on 10/25/13 > Debt consolidation<br>         3
Name: count, dtype: int64
purpose
debt_consolidation    107566
credit_card            40689
home_improvement       12460
other                  12136
major_purchase          5174
Name: count, dtype: int64
title
Debt consolidation         70317
Credit card refinancing    27947
Home improvement            7920
Other                       7745
Debt Consolidation          5294
Name: count, dtype: int64
zip_code
945xx    2197
112xx    2174
606xx    1998
750xx    1959
100xx    1803
Name: count, dtype: int64
addr_state
CA    28830
NY    16514
TX    15169
FL    13761
IL     7820
Name: count, dtype: int64
earliest_cr_line
Oct-2001    1327
Oct-2000    1311
Oct-1999    1267
Nov-2000    1263
Aug-2000    1238
Name: count, dtype: int64
initial_list_status
f    102982
w     89327
Name: count, dtype: int64
last_pymnt_d
Mar-2019    43045
Feb-2019     4889
Jul-2015     2515
Mar-2017     2455
Mar-2018     2417
Name: count, dtype: int64
next_pymnt_d
None        145588
Apr-2019     46073
Oct-2013        33
Nov-2013        25
Dec-2013        23
Name: count, dtype: int64
last_credit_pull_d
Mar-2019    88761
Oct-2016     9970
Feb-2019     6021
Jan-2019     5305
Jul-2018     4635
Name: count, dtype: int64
application_type
Individual    186362
Joint App       5947
Name: count, dtype: int64
verification_status_joint
None               186567
Not Verified         2911
Source Verified      1697
Verified             1134
Name: count, dtype: int64
sec_app_earliest_cr_line
None        187105
Aug-2006        51
Aug-2007        49
Sep-2004        47
Oct-2003        47
Name: count, dtype: int64
hardship_flag
N    192263
Y        46
Name: count, dtype: int64
hardship_type
None                               191705
INTEREST ONLY-3 MONTHS DEFERRAL       604
Name: count, dtype: int64
hardship_reason
None                     191705
NATURAL_DISASTER            155
EXCESSIVE_OBLIGATIONS       125
UNEMPLOYMENT                101
MEDICAL                      78
Name: count, dtype: int64
hardship_status
None         191705
COMPLETED       422
BROKEN          136
ACTIVE           46
Name: count, dtype: int64
hardship_start_date
None        191705
Sep-2017       140
Oct-2017        70
Oct-2018        33
Aug-2018        31
Name: count, dtype: int64
hardship_end_date
None        191705
Dec-2017        94
Nov-2017        80
Jan-2018        47
Dec-2018        31
Name: count, dtype: int64
payment_plan_start_date
None        191705
Sep-2017       103
Oct-2017        99
Nov-2017        31
Oct-2018        30
Name: count, dtype: int64
hardship_loan_status
None                  191705
Late (16-30 days)        255
In Grace Period          169
Current                  155
Late (31-120 days)        24
Name: count, dtype: int64
disbursement_method
Cash         188743
DirectPay      3566
Name: count, dtype: int64
debt_settlement_flag
N    189774
Y      2535
Name: count, dtype: int64
debt_settlement_flag_date
None        189774
Feb-2019       161
Oct-2018       148
Jan-2019       147
Dec-2018       141
Name: count, dtype: int64
settlement_status
None        189774
COMPLETE      1287
ACTIVE         870
BROKEN         378
Name: count, dtype: int64
settlement_date
None        189774
Jan-2019        97
Oct-2018        95
Aug-2018        90
Apr-2018        86
Name: count, dtype: int64

In [ ]:
df_faltantes = df.replace(['None'],np.nan,inplace=True)
df

Aca me quede. Queda pendiente de todas las columnas que tienen mas de 50%, 
1. analizar por que tienen valores faltantes y si realmente debemos eliminarnas
2. Contar el total de columnas que tienen mas de 50% de valores faltantes. 
3. Con cuales nos vamos a quedar para imputar?

In [ ]:
low_variance_cols = []

for col in df.columns:
    vc = df[col].value_counts(dropna=False, normalize=True)
    if vc.iloc[0] > 0.99:   # más del 99% el mismo valor
        low_variance_cols.append(col)

low_variance_cols

['pymnt_plan',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount']

In [ ]:
desc = df.describe().T
desc.sort_values(by='max', ascending=False).head(20)

,count,mean,std,min,25%,50%,75%,max
id,192309.0,4.987646e+07,5.014201e+07,66128.0,1596224.00,3.435340e+07,9.417362e+07,1.456375e+08
annual_inc,192309.0,7.516959e+04,6.923942e+04,0.0,45000.00,6.400000e+04,9.000000e+04,8.700000e+06
tot_hi_cred_lim,147812.0,1.744076e+05,1.751981e+05,0.0,49067.75,1.120985e+05,2.542230e+05,5.850873e+06
tot_cur_bal,147812.0,1.405798e+05,1.571303e+05,0.0,28571.75,7.856900e+04,2.119948e+05,5.327039e+06
annual_inc_joint,5947.0,1.227523e+05,6.579404e+04,13464.0,82772.00,1.100000e+05,1.460000e+05,1.500000e+06
total_rev_hi_lim,147812.0,3.339641e+04,3.332634e+04,0.0,14400.00,2.470000e+04,4.150000e+04,1.417100e+06
total_bal_ex_mort,157627.0,4.885828e+04,4.721588e+04,0.0,20217.00,3.643100e+04,6.160950e+04,1.276247e+06
total_il_high_credit_limit,147812.0,4.176731e+04,4.333643e+04,0.0,14006.75,3.108400e+04,5.641425e+04,1.214546e+06
revol_bal,192309.0,1.604589e+04,2.050766e+04,0.0,5860.00,1.121500e+04,1.980900e+04,1.190046e+06
total_bal_il,70775.0,3.522341e+04,4.346104e+04,0.0,8607.50,2.289000e+04,4.601550e+04,8.017790e+05
total_bc_limit,157627.0,2.227656e+04,2.196883e+04,0.0,8000.00,1.570000e+04,2.900000e+04,5.205000e+05
max_bal_bc,70775.0,5.799395e+03,5.701858e+03,0.0,2282.00,4.402000e+03,7.567000e+03,5.000000e+05
revol_bal_joint,5204.0,3.382952e+04,2.913478e+04,0.0,14526.75,2.620550e+04,4.386800e+04,4.768260e+05
avg_cur_bal,147807.0,1.349238e+04,1.622574e+04,0.0,3051.00,7.365000e+03,1.883500e+04,4.668400e+05
tot_coll_amt,147812.0,2.014099e+02,1.907320e+03,0.0,0.00,0.000000e+00,0.000000e+00,3.807570e+05
bc_open_to_buy,155919.0,1.046305e+04,1.567061e+04,0.0,1481.00,4.797000e+03,1.280100e+04,3.036220e+05
delinq_amnt,192309.0,9.357690e+00,5.956617e+02,0.0,0.00,0.000000e+00,0.000000e+00,6.500000e+04
total_pymnt,192309.0,1.331507e+04,1.024476e+04,0.0,5571.53,1.078962e+04,1.838374e+04,6.294899e+04
total_pymnt_inv,192309.0,1.327596e+04,1.021430e+04,0.0,5557.03,1.075731e+04,1.832059e+04,6.290403e+04
last_pymnt_amnt,192309.0,3.567079e+03,5.841654e+03,0.0,313.16,6.571000e+02,4.508250e+03,4.143400e+04

The analysis of the maximum values reveals the presence of extreme values in some financial variables, which suggests the need to apply transformations or outlier treatment techniques in later stages.

In [ ]:
desc.assign(
    mean_median_ratio = desc['mean'] / desc['50%']
).sort_values('mean_median_ratio', ascending=False).head(10)

,count,mean,std,min,25%,50%,75%,max,mean_median_ratio
inq_last_6mths,192309.0,0.681424,0.977064,0.0,0.0,0.0,1.0,8.000000,inf
pub_rec,192309.0,0.157767,0.502036,0.0,0.0,0.0,0.0,40.000000,inf
delinq_2yrs,192309.0,0.269530,0.798124,0.0,0.0,0.0,0.0,26.000000,inf
collections_12_mths_ex_med,192309.0,0.012158,0.132566,0.0,0.0,0.0,0.0,20.000000,inf
total_rec_late_fee,192309.0,1.415083,11.190303,0.0,0.0,0.0,0.0,1098.360001,inf
recoveries,192309.0,153.452068,774.136498,0.0,0.0,0.0,0.0,35581.880000,inf
out_prncp_inv,192309.0,2404.686422,5862.737964,0.0,0.0,0.0,0.0,39091.640000,inf
open_il_12m,70775.0,0.670816,0.925402,0.0,0.0,0.0,1.0,20.000000,inf
acc_now_delinq,192309.0,0.003146,0.059249,0.0,0.0,0.0,0.0,3.000000,inf
tot_coll_amt,147812.0,201.409906,1907.319784,0.0,0.0,0.0,0.0,380757.000000,inf

Several numerical variables present highly skewed distributions, with median values equal to zero and a small proportion of non-zero observations. This pattern is expected for count-based credit history variables. However, some highly skewed variables correspond to post-loan information and will therefore be excluded from the modeling process to prevent data leakage.

EDA (cerrando)
1. Tratamiento columnas con alto % de 0s ⏳
2. Matriz de missing (missingno) ⏳
3. Valores faltantes explícitos ✅
4. Valores faltantes ocultos ✅
5. Filas duplicadas ✅
6. Drop policy_code ✅

Decisiones de features
7. Identificar columnas data leakage ⏳(ya estan identificadas, ahora hay que hacer drop)
8. Definir estrategia second applicant (flag + drop cols) ⏳
9. Identificar columnas ID / no predictivas ⏳(ya estan identificadas, ahora hay que hacer drop)
10. Definir target ⏳(ya identificado)

Modelado
11. Crear df_model
12. Split temporal
13. Imputación / preprocessing