In [1]:
import sqlite3
import pandas as pd

# NOTA
The DataFrame df is created from the basa_datos_pripal table in the credit_scoring.db database. The file is not included in the repository due to its size; generating the database from the original CSV and creating the table are explained in detail in the notebook data-collection.ipynb.

# EDA

In [2]:
conn = sqlite3.connect("/workspaces/final_project_creditscoring/Data/credit_scoring.db")
df = pd.read_sql("SELECT * FROM main_table", conn)
conn.close()

print(df.shape)
print(df.tail())

(192309, 157)
               id member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
192304  143601416      None     6000.0       6000.0           5975.0
192305  145497901      None    28000.0      28000.0          28000.0
192306  144877634      None    12325.0      12325.0          12325.0
192307  145032060      None     6000.0       6000.0           6000.0
192308  144531140      None    20000.0      20000.0          20000.0

              term  int_rate  installment grade sub_grade  ...  \
192304   36 months      8.19       188.55     A        A4  ...
192305   36 months      6.46       857.67     A        A1  ...
192306   36 months      8.81       390.85     A        A5  ...
192307   36 months     11.31       197.32     B        B3  ...
192308   36 months     17.97       722.75     D        D1  ...

       settlement_date settlement_amount settlement_percentage  \
192304             NaN               NaN                   NaN
192305             NaN               NaN                   NaN
192306             NaN               NaN                   NaN
192307             NaN               NaN                   NaN
192308             NaN               NaN                   NaN

        settlement_term inflation_cpi        gdp unemployment_rate  \
192304              NaN       252.767  20917.867               3.9
192305              NaN       252.767  20917.867               3.9
192306              NaN       252.767  20917.867               3.9
192307              NaN       252.767  20917.867               3.9
192308              NaN       252.767  20917.867               3.9

       fed_funds_rate      pce total_consumer_credit
192304           2.27  14051.6            4007041.95
192305           2.27  14051.6            4007041.95
192306           2.27  14051.6            4007041.95
192307           2.27  14051.6            4007041.95
192308           2.27  14051.6            4007041.95

[5 rows x 157 columns]