In [1]:
%pip install missingno MissForest lazypredict

Requirement already satisfied: missingno in /usr/local/python/3.12.1/lib/python3.12/site-packages (0.5.2)
Requirement already satisfied: MissForest in /usr/local/python/3.12.1/lib/python3.12/site-packages (4.2.3)
Requirement already satisfied: lazypredict in /usr/local/python/3.12.1/lib/python3.12/site-packages (0.2.16)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.12/site-packages (from missingno) (2.4.1)
Requirement already satisfied: matplotlib in /home/codespace/.local/lib/python3.12/site-packages (from missingno) (3.10.8)
Requirement already satisfied: scipy in /home/codespace/.local/lib/python3.12/site-packages (from missingno) (1.17.0)
Requirement already satisfied: seaborn in /home/codespace/.local/lib/python3.12/site-packages (from missingno) (0.13.2)
Requirement already satisfied: click in /home/codespace/.local/lib/python3.12/site-packages (from lazypredict) (8.3.1)
Requirement already satisfied: scikit-learn in /home/codespace/.local/lib/python3.12/site-packages (from lazypredict) (1.8.0)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (from lazypredict) (2.3.3)
Requirement already satisfied: tqdm in /home/codespace/.local/lib/python3.12/site-packages (from lazypredict) (4.67.1)
Requirement already satisfied: joblib in /home/codespace/.local/lib/python3.12/site-packages (from lazypredict) (1.5.3)
Requirement already satisfied: lightgbm in /usr/local/python/3.12.1/lib/python3.12/site-packages (from lazypredict) (4.6.0)
Requirement already satisfied: xgboost in /usr/local/python/3.12.1/lib/python3.12/site-packages (from lazypredict) (3.1.3)
Requirement already satisfied: pytest-runner in /usr/local/python/3.12.1/lib/python3.12/site-packages (from lazypredict) (6.0.1)
Requirement already satisfied: mlflow>=2.0.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from lazypredict) (3.8.1)
Requirement already satisfied: mlflow-skinny==3.8.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow>=2.0.0->lazypredict) (3.8.1)
Requirement already satisfied: mlflow-tracing==3.8.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow>=2.0.0->lazypredict) (3.8.1)
Requirement already satisfied: Flask-CORS<7 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow>=2.0.0->lazypredict) (6.0.2)
Requirement already satisfied: Flask<4 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow>=2.0.0->lazypredict) (3.1.2)
Requirement already satisfied: alembic!=1.10.0,<2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow>=2.0.0->lazypredict) (1.18.1)
Requirement already satisfied: cryptography<47,>=43.0.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow>=2.0.0->lazypredict) (46.0.4)
Requirement already satisfied: docker<8,>=4.0.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow>=2.0.0->lazypredict) (7.1.0)
Requirement already satisfied: graphene<4 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow>=2.0.0->lazypredict) (3.4.3)
Requirement already satisfied: gunicorn<24 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow>=2.0.0->lazypredict) (23.0.0)
Requirement already satisfied: huey<3,>=2.5.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow>=2.0.0->lazypredict) (2.6.0)
Requirement already satisfied: pyarrow<23,>=4.0.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow>=2.0.0->lazypredict) (22.0.0)
Requirement already satisfied: sqlalchemy<3,>=1.4.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow>=2.0.0->lazypredict) (2.0.46)
Requirement already satisfied: cachetools<7,>=5.0.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (6.2.6)
Requirement already satisfied: cloudpickle<4 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (3.1.2)
Requirement already satisfied: databricks-sdk<1,>=0.20.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (0.81.0)
Requirement already satisfied: fastapi<1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (0.128.0)
Requirement already satisfied: gitpython<4,>=3.1.9 in /home/codespace/.local/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (3.1.45)
Requirement already satisfied: importlib_metadata!=4.7.0,<9,>=3.7.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (8.7.1)
Requirement already satisfied: opentelemetry-api<3,>=1.9.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (1.39.1)
Requirement already satisfied: opentelemetry-proto<3,>=1.9.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (1.39.1)
Requirement already satisfied: opentelemetry-sdk<3,>=1.9.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (1.39.1)
Requirement already satisfied: packaging<26 in /home/codespace/.local/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (25.0)
Requirement already satisfied: protobuf<7,>=3.12.0 in /home/codespace/.local/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (6.33.4)
Requirement already satisfied: pydantic<3,>=2.0.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (2.12.5)
Requirement already satisfied: python-dotenv<2,>=0.19.0 in /home/codespace/.local/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (1.2.1)
Requirement already satisfied: pyyaml<7,>=5.1 in /home/codespace/.local/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (6.0.3)
Requirement already satisfied: requests<3,>=2.17.3 in /home/codespace/.local/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (2.32.5)
Requirement already satisfied: sqlparse<1,>=0.4.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (0.5.5)
Requirement already satisfied: typing-extensions<5,>=4.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (4.15.0)
Requirement already satisfied: uvicorn<1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (0.40.0)
Requirement already satisfied: Mako in /usr/local/python/3.12.1/lib/python3.12/site-packages (from alembic!=1.10.0,<2->mlflow>=2.0.0->lazypredict) (1.3.10)
Requirement already satisfied: cffi>=2.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from cryptography<47,>=43.0.0->mlflow>=2.0.0->lazypredict) (2.0.0)
Requirement already satisfied: google-auth~=2.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from databricks-sdk<1,>=0.20.0->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (2.48.0)
Requirement already satisfied: urllib3>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from docker<8,>=4.0.0->mlflow>=2.0.0->lazypredict) (2.6.3)
Requirement already satisfied: starlette<0.51.0,>=0.40.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from fastapi<1->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (0.50.0)
Requirement already satisfied: annotated-doc>=0.0.2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from fastapi<1->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (0.0.4)
Requirement already satisfied: blinker>=1.9.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from Flask<4->mlflow>=2.0.0->lazypredict) (1.9.0)
Requirement already satisfied: itsdangerous>=2.2.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from Flask<4->mlflow>=2.0.0->lazypredict) (2.2.0)
Requirement already satisfied: jinja2>=3.1.2 in /home/codespace/.local/lib/python3.12/site-packages (from Flask<4->mlflow>=2.0.0->lazypredict) (3.1.6)
Requirement already satisfied: markupsafe>=2.1.1 in /home/codespace/.local/lib/python3.12/site-packages (from Flask<4->mlflow>=2.0.0->lazypredict) (3.0.3)
Requirement already satisfied: werkzeug>=3.1.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from Flask<4->mlflow>=2.0.0->lazypredict) (3.1.5)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from gitpython<4,>=3.1.9->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from gitdb<5,>=4.0.1->gitpython<4,>=3.1.9->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (5.0.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from google-auth~=2.0->databricks-sdk<1,>=0.20.0->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from google-auth~=2.0->databricks-sdk<1,>=0.20.0->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (4.9.1)
Requirement already satisfied: graphql-core<3.3,>=3.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from graphene<4->mlflow>=2.0.0->lazypredict) (3.2.7)
Requirement already satisfied: graphql-relay<3.3,>=3.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from graphene<4->mlflow>=2.0.0->lazypredict) (3.2.0)
Requirement already satisfied: python-dateutil<3,>=2.7.0 in /home/codespace/.local/lib/python3.12/site-packages (from graphene<4->mlflow>=2.0.0->lazypredict) (2.9.0.post0)
Requirement already satisfied: zipp>=3.20 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from importlib_metadata!=4.7.0,<9,>=3.7.0->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (3.23.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->missingno) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->missingno) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->missingno) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->missingno) (1.4.9)
Requirement already satisfied: pillow>=8 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->missingno) (12.1.0)
Requirement already satisfied: pyparsing>=3 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->missingno) (3.3.1)
Requirement already satisfied: opentelemetry-semantic-conventions==0.60b1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from opentelemetry-sdk<3,>=1.9.0->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (0.60b1)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->lazypredict) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->lazypredict) (2025.3)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pydantic<3,>=2.0.0->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.5 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pydantic<3,>=2.0.0->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (2.41.5)
Requirement already satisfied: typing-inspection>=0.4.2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pydantic<3,>=2.0.0->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (0.4.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil<3,>=2.7.0->graphene<4->mlflow>=2.0.0->lazypredict) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests<3,>=2.17.3->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests<3,>=2.17.3->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.12/site-packages (from requests<3,>=2.17.3->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (2025.11.12)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from rsa<5,>=3.1.4->google-auth~=2.0->databricks-sdk<1,>=0.20.0->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (0.6.2)
Requirement already satisfied: threadpoolctl>=3.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn->lazypredict) (3.6.0)
Requirement already satisfied: greenlet>=1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from sqlalchemy<3,>=1.4.0->mlflow>=2.0.0->lazypredict) (3.3.1)
Requirement already satisfied: anyio<5,>=3.6.2 in /home/codespace/.local/lib/python3.12/site-packages (from starlette<0.51.0,>=0.40.0->fastapi<1->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (4.11.0)
Requirement already satisfied: sniffio>=1.1 in /home/codespace/.local/lib/python3.12/site-packages (from anyio<5,>=3.6.2->starlette<0.51.0,>=0.40.0->fastapi<1->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (1.3.1)
Requirement already satisfied: h11>=0.8 in /home/codespace/.local/lib/python3.12/site-packages (from uvicorn<1->mlflow-skinny==3.8.1->mlflow>=2.0.0->lazypredict) (0.16.0)
Requirement already satisfied: pycparser in /home/codespace/.local/lib/python3.12/site-packages (from cffi>=2.0.0->cryptography<47,>=43.0.0->mlflow>=2.0.0->lazypredict) (2.23)
Requirement already satisfied: nvidia-nccl-cu12 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from xgboost->lazypredict) (2.29.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import sqlite3
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.ensemble import IsolationForest, RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from xgboost import XGBClassifier
from sklearn.inspection import permutation_importance
import shap
import lightgbm as lgb

# NOTA
El DataFrame df se crea a partir de la tabla basa_datos_pripal de la base de datos credit_scoring.db. El archivo no se incluye en el repositorio debido a su tamaño; la generación de la base de datos a partir del CSV original y la creación de la tabla se explica detalladamente en el notebook data-collection.ipynb

Descriptive analysis:
In this part of the project, we begin exploring the dataset created from the initial information obtained from the LendingClub dataset (Kaggle). The objective of this stage is to describe and understand the structure of the data, the variables and their types, their distributions, skewness, and the presence of missing values.

In [3]:
conn = sqlite3.connect("/workspaces/final_project_creditscoring/Data/credit_scoring.db")
df = pd.read_sql("SELECT * FROM basa_datos_pripal", conn)
conn.close()

In [4]:
conn = sqlite3.connect("/workspaces/final_project_creditscoring/Data/credit_scoring.db")
df = pd.read_sql("SELECT * FROM basa_datos_pripal", conn)
conn.close()
n_rows,n_cols = df.shape

print(f'En este df existen {n_rows} filas y {n_cols} columnas')

En este df existen 192309 filas y 151 columnas

With the analysis below, we can understand that the dataset contains a large number of numerical variables, along with several categorical features represented as object types. This initial inspection highlights the need for feature selection and type handling in later stages.

In [9]:
object_cols = df.select_dtypes(include="object").columns.tolist()
int_cols = df.select_dtypes(include="int64").columns.tolist()
float_cols = df.select_dtypes(include="float64").columns.tolist()

print(f"Objects: {len(object_cols)}")
print(f"Ints: {len(int_cols)}")
print(f"Floats: {len(float_cols)}")

Objects: 38
Ints: 1
Floats: 112

The code below is intended to help us understand whether we have incorrectly typed columns that should be numeric instead of objects. The fact that, when we execute the code, the list is empty tells us that our data is mostly properly typed and that we don’t have object columns that should be numbers.

In [10]:
numeric_like = []

for col in object_cols:
    converted = pd.to_numeric(df[col], errors="coerce")
    ratio = converted.notna().mean()

    if ratio > 0.9:  # 90% convertible
        numeric_like.append(col)

numeric_like

[]

In [11]:
for col in object_cols:
    print(f"\n{col}")
    print(df[col].value_counts().head(5))

member_id
Series([], Name: count, dtype: int64)

term
term
36 months    137472
60 months     54837
Name: count, dtype: int64

grade
grade
B    57542
C    51332
A    37335
D    27757
E    12718
Name: count, dtype: int64

sub_grade
sub_grade
B3    12706
B4    12370
C1    12100
B5    11572
C2    11040
Name: count, dtype: int64

emp_title
emp_title
Teacher             2338
Manager             1952
Owner               1249
Supervisor           933
Registered Nurse     921
Name: count, dtype: int64

emp_length
emp_length
10+ years    60263
2 years      17674
< 1 year     16144
3 years      15639
5 years      13163
Name: count, dtype: int64

home_ownership
home_ownership
MORTGAGE    93952
RENT        79309
OWN         18968
ANY            52
OTHER          15
Name: count, dtype: int64

verification_status
verification_status
Source Verified    67530
Not Verified       62455
Verified           62324
Name: count, dtype: int64

issue_d
issue_d
2011-10-01 00:00:00    1941
2011-11-01 00:00:00    1941
2011-12-01 00:00:00    1941
2012-01-01 00:00:00    1941
2012-02-01 00:00:00    1941
Name: count, dtype: int64

loan_status
loan_status
Fully Paid            119522
Current                44223
Charged Off            26066
Late (31-120 days)      1180
In Grace Period          468
Name: count, dtype: int64

pymnt_plan
pymnt_plan
n    192275
y        34
Name: count, dtype: int64

url
url
https://lendingclub.com/browse/loanDetail.action?loan_id=521942    1
https://lendingclub.com/browse/loanDetail.action?loan_id=534192    1
https://lendingclub.com/browse/loanDetail.action?loan_id=524615    1
https://lendingclub.com/browse/loanDetail.action?loan_id=526429    1
https://lendingclub.com/browse/loanDetail.action?loan_id=518677    1
Name: count, dtype: int64

desc
desc
Debt Consolidation                                       5
                                                         4
  Borrower added on 02/05/14 > Debt consolidation<br>    3
  Borrower added on 05/13/13 > debt consolidation<br>    3
  Borrower added on 03/14/14 > Debt Consolidation<br>    3
Name: count, dtype: int64

purpose
purpose
debt_consolidation    107566
credit_card            40689
home_improvement       12460
other                  12136
major_purchase          5174
Name: count, dtype: int64

title
title
Debt consolidation         70317
Credit card refinancing    27947
Home improvement            7920
Other                       7745
Debt Consolidation          5294
Name: count, dtype: int64

zip_code
zip_code
945xx    2197
112xx    2174
606xx    1998
750xx    1959
100xx    1803
Name: count, dtype: int64

addr_state
addr_state
CA    28830
NY    16514
TX    15169
FL    13761
IL     7820
Name: count, dtype: int64

earliest_cr_line
earliest_cr_line
Oct-2001    1327
Oct-2000    1311
Oct-1999    1267
Nov-2000    1263
Aug-2000    1238
Name: count, dtype: int64

initial_list_status
initial_list_status
f    102982
w     89327
Name: count, dtype: int64

last_pymnt_d
last_pymnt_d
Mar-2019    43045
Feb-2019     4889
Jul-2015     2515
Mar-2017     2455
Mar-2018     2417
Name: count, dtype: int64

next_pymnt_d
next_pymnt_d
Apr-2019    46073
Oct-2013       33
Nov-2013       25
Dec-2013       23
Mar-2012       21
Name: count, dtype: int64

last_credit_pull_d
last_credit_pull_d
Mar-2019    88761
Oct-2016     9970
Feb-2019     6021
Jan-2019     5305
Jul-2018     4635
Name: count, dtype: int64

application_type
application_type
Individual    186362
Joint App       5947
Name: count, dtype: int64

verification_status_joint
verification_status_joint
Not Verified       2911
Source Verified    1697
Verified           1134
Name: count, dtype: int64

sec_app_earliest_cr_line
sec_app_earliest_cr_line
Aug-2006    51
Aug-2007    49
Oct-2003    47
Sep-2004    47
Aug-2004    46
Name: count, dtype: int64

hardship_flag
hardship_flag
N    192263
Y        46
Name: count, dtype: int64

hardship_type
hardship_type
INTEREST ONLY-3 MONTHS DEFERRAL    604
Name: count, dtype: int64

hardship_reason
hardship_reason
NATURAL_DISASTER         155
EXCESSIVE_OBLIGATIONS    125
UNEMPLOYMENT             101
MEDICAL                   78
INCOME_CURTAILMENT        77
Name: count, dtype: int64

hardship_status
hardship_status
COMPLETED    422
BROKEN       136
ACTIVE        46
Name: count, dtype: int64

hardship_start_date
hardship_start_date
Sep-2017    140
Oct-2017     70
Oct-2018     33
Aug-2018     31
May-2017     25
Name: count, dtype: int64

hardship_end_date
hardship_end_date
Dec-2017    94
Nov-2017    80
Jan-2018    47
Dec-2018    31
Oct-2017    26
Name: count, dtype: int64

payment_plan_start_date
payment_plan_start_date
Sep-2017    103
Oct-2017     99
Nov-2017     31
Oct-2018     30
Sep-2018     27
Name: count, dtype: int64

hardship_loan_status
hardship_loan_status
Late (16-30 days)     255
In Grace Period       169
Current               155
Late (31-120 days)     24
Issued                  1
Name: count, dtype: int64

disbursement_method
disbursement_method
Cash         188743
DirectPay      3566
Name: count, dtype: int64

debt_settlement_flag
debt_settlement_flag
N    189774
Y      2535
Name: count, dtype: int64

debt_settlement_flag_date
debt_settlement_flag_date
Feb-2019    161
Oct-2018    148
Jan-2019    147
Dec-2018    141
Nov-2018    130
Name: count, dtype: int64

settlement_status
settlement_status
COMPLETE    1287
ACTIVE       870
BROKEN       378
Name: count, dtype: int64

settlement_date
settlement_date
Jan-2019    97
Oct-2018    95
Aug-2018    90
Apr-2018    86
May-2018    86
Name: count, dtype: int64

Column format review – findings:
1. No numeric-like object columns detected. All object variables represent categorical or textual information.
2. Multiple date-related columns are stored as object and will require conversion to datetime.
3. Several high-cardinality or free-text columns (emp_title, url, desc) were identified as non-informative for modeling and will be considered for removal in later steps.

Revision of constant columns:

The following code initially didn’t specify dropna=False, which made it show a few columns as constants. This led us to investigate what was happening and whether we were working with the right dataframe. However, this mistake was enlightening, as it helped us identify possible *data leakage variables, such as: hardship_type, deferral_term, and hardship_length.*

In [12]:
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)

# Unique values per column
uniq = df.nunique(dropna=False)

# Show results
print(uniq)

id                                            192309
member_id                                          1
loan_amnt                                       1447
funded_amnt                                     1447
funded_amnt_inv                                 4951
term                                               2
int_rate                                         499
installment                                    42629
grade                                              7
sub_grade                                         35
emp_title                                      92975
emp_length                                        12
home_ownership                                     6
annual_inc                                     15656
verification_status                                3
issue_d                                          103
loan_status                                        9
pymnt_plan                                         2
url                                           192309
desc                                           42287
purpose                                           14
title                                          25632
zip_code                                         888
addr_state                                        51
dti                                             5100
delinq_2yrs                                       23
earliest_cr_line                                 673
fico_range_low                                    38
fico_range_high                                   38
inq_last_6mths                                     9
mths_since_last_delinq                           133
mths_since_last_record                           124
open_acc                                          63
pub_rec                                           18
revol_bal                                      45653
revol_util                                      1178
total_acc                                        109
initial_list_status                                2
out_prncp                                      35625
out_prncp_inv                                  36100
total_pymnt                                   183794
total_pymnt_inv                               171050
total_rec_prncp                                61352
total_rec_int                                 148062
total_rec_late_fee                              4686
recoveries                                     18080
collection_recovery_fee                        16330
last_pymnt_d                                     106
last_pymnt_amnt                               120405
next_pymnt_d                                      69
last_credit_pull_d                               106
last_fico_range_high                              72
last_fico_range_low                               71
collections_12_mths_ex_med                        10
mths_since_last_major_derog                      143
policy_code                                        1
application_type                                   2
annual_inc_joint                                1520
dti_joint                                       2628
verification_status_joint                          4
acc_now_delinq                                     4
tot_coll_amt                                    4388
tot_cur_bal                                   112222
open_acc_6m                                       15
open_act_il                                       40
open_il_12m                                       13
open_il_24m                                       21
mths_since_rcnt_il                               256
total_bal_il                                   43674
il_util                                          187
open_rv_12m                                       23
open_rv_24m                                       35
max_bal_bc                                     17002
all_util                                         156
total_rev_hi_lim                                6552
inq_fi                                            22
total_cu_tl                                       44
inq_last_12m                                      35
acc_open_past_24mths                              41
avg_cur_bal                                    40882
bc_open_to_buy                                 36628
bc_util                                         1184
chargeoff_within_12_mths                           7
delinq_amnt                                      336
mo_sin_old_il_acct                               436
mo_sin_old_rev_tl_op                             666
mo_sin_rcnt_rev_tl_op                            215
mo_sin_rcnt_tl                                   150
mort_acc                                          28
mths_since_recent_bc                             372
mths_since_recent_bc_dlq                         136
mths_since_recent_inq                             27
mths_since_recent_revol_delinq                   140
num_accts_ever_120_pd                             27
num_actv_bc_tl                                    30
num_actv_rev_tl                                   44
num_bc_sats                                       42
num_bc_tl                                         54
num_il_tl                                         80
num_op_rev_tl                                     57
num_rev_accts                                     85
num_rev_tl_bal_gt_0                               40
num_sats                                          64
num_tl_120dpd_2m                                   4
num_tl_30dpd                                       5
num_tl_90g_dpd_24m                                22
num_tl_op_past_12m                                26
pct_tl_nvr_dlq                                   483
percent_bc_gt_75                                 173
pub_rec_bankruptcies                               8
tax_liens                                         17
tot_hi_cred_lim                               109016
total_bal_ex_mort                              82661
total_bc_limit                                  5200
total_il_high_credit_limit                     69936
revol_bal_joint                                 5000
sec_app_fico_range_low                            61
sec_app_fico_range_high                           61
sec_app_earliest_cr_line                         484
sec_app_inq_last_6mths                             8
sec_app_mort_acc                                  14
sec_app_open_acc                                  52
sec_app_revol_util                              1016
sec_app_open_act_il                               32
sec_app_num_rev_accts                             60
sec_app_chargeoff_within_12_mths                  10
sec_app_collections_12_mths_ex_med                 8
sec_app_mths_since_last_major_derog               97
hardship_flag                                      2
hardship_type                                      2
hardship_reason                                   10
hardship_status                                    4
deferral_term                                      2
hardship_amount                                  599
hardship_start_date                               24
hardship_end_date                                 27
payment_plan_start_date                           25
hardship_length                                    2
hardship_dpd                                      31
hardship_loan_status                               6
orig_projected_additional_accrued_interest       464
hardship_payoff_balance_amount                   604
hardship_last_payment_amount                     587
disbursement_method                                2
debt_settlement_flag                               2
debt_settlement_flag_date                         77
settlement_status                                  4
settlement_date                                   85
settlement_amount                               2324
settlement_percentage                            446
settlement_term                                   29
dtype: int64

In [13]:
uniq = df.nunique(dropna=False)
uniq[uniq == 1]

member_id      1
policy_code    1
dtype: int64

After the code revision, the only two variables with constant values are member_id and policy_code. It does not make much sense to have a unique value for member_id if we have almost 200k data entries, so we needed to check the exact values contained in this column.

In [14]:
cols = ['member_id', 'policy_code']

for col in cols:
    print(df[col].value_counts(dropna=False))

member_id
None    192309
Name: count, dtype: int64
policy_code
1.0    192309
Name: count, dtype: int64

Below, we proceed to drop from the dataset the columns that aren’t relevant to the analysis or that were identified as redundant.

In [15]:
df = df.drop(columns=['member_id', 'policy_code','id','url','emp_title','desc','title'])

Revision of Duplicated Rows: No duplicated rows were identified.

In [16]:
df.duplicated().sum()

np.int64(0)

Revision of Duplicated Columns: Two variables (deferral_term and hardship_length) were found to be exact duplicates, containing identical values across all observations. Both variables are related to post-loan hardship events (we previously identified them as potential data leakers) and will therefore be excluded from the modeling stage.

In [17]:
df.T.duplicated().sum()
df.T.duplicated(keep=False)

loan_amnt                                     False
funded_amnt                                   False
funded_amnt_inv                               False
term                                          False
int_rate                                      False
installment                                   False
grade                                         False
sub_grade                                     False
emp_length                                    False
home_ownership                                False
annual_inc                                    False
verification_status                           False
issue_d                                       False
loan_status                                   False
pymnt_plan                                    False
purpose                                       False
zip_code                                      False
addr_state                                    False
dti                                           False
delinq_2yrs                                   False
earliest_cr_line                              False
fico_range_low                                False
fico_range_high                               False
inq_last_6mths                                False
mths_since_last_delinq                        False
mths_since_last_record                        False
open_acc                                      False
pub_rec                                       False
revol_bal                                     False
revol_util                                    False
total_acc                                     False
initial_list_status                           False
out_prncp                                     False
out_prncp_inv                                 False
total_pymnt                                   False
total_pymnt_inv                               False
total_rec_prncp                               False
total_rec_int                                 False
total_rec_late_fee                            False
recoveries                                    False
collection_recovery_fee                       False
last_pymnt_d                                  False
last_pymnt_amnt                               False
next_pymnt_d                                  False
last_credit_pull_d                            False
last_fico_range_high                          False
last_fico_range_low                           False
collections_12_mths_ex_med                    False
mths_since_last_major_derog                   False
application_type                              False
annual_inc_joint                              False
dti_joint                                     False
verification_status_joint                     False
acc_now_delinq                                False
tot_coll_amt                                  False
tot_cur_bal                                   False
open_acc_6m                                   False
open_act_il                                   False
open_il_12m                                   False
open_il_24m                                   False
mths_since_rcnt_il                            False
total_bal_il                                  False
il_util                                       False
open_rv_12m                                   False
open_rv_24m                                   False
max_bal_bc                                    False
all_util                                      False
total_rev_hi_lim                              False
inq_fi                                        False
total_cu_tl                                   False
inq_last_12m                                  False
acc_open_past_24mths                          False
avg_cur_bal                                   False
bc_open_to_buy                                False
bc_util                                       False
chargeoff_within_12_mths                      False
delinq_amnt                                   False
mo_sin_old_il_acct                            False
mo_sin_old_rev_tl_op                          False
mo_sin_rcnt_rev_tl_op                         False
mo_sin_rcnt_tl                                False
mort_acc                                      False
mths_since_recent_bc                          False
mths_since_recent_bc_dlq                      False
mths_since_recent_inq                         False
mths_since_recent_revol_delinq                False
num_accts_ever_120_pd                         False
num_actv_bc_tl                                False
num_actv_rev_tl                               False
num_bc_sats                                   False
num_bc_tl                                     False
num_il_tl                                     False
num_op_rev_tl                                 False
num_rev_accts                                 False
num_rev_tl_bal_gt_0                           False
num_sats                                      False
num_tl_120dpd_2m                              False
num_tl_30dpd                                  False
num_tl_90g_dpd_24m                            False
num_tl_op_past_12m                            False
pct_tl_nvr_dlq                                False
percent_bc_gt_75                              False
pub_rec_bankruptcies                          False
tax_liens                                     False
tot_hi_cred_lim                               False
total_bal_ex_mort                             False
total_bc_limit                                False
total_il_high_credit_limit                    False
revol_bal_joint                               False
sec_app_fico_range_low                        False
sec_app_fico_range_high                       False
sec_app_earliest_cr_line                      False
sec_app_inq_last_6mths                        False
sec_app_mort_acc                              False
sec_app_open_acc                              False
sec_app_revol_util                            False
sec_app_open_act_il                           False
sec_app_num_rev_accts                         False
sec_app_chargeoff_within_12_mths              False
sec_app_collections_12_mths_ex_med            False
sec_app_mths_since_last_major_derog           False
hardship_flag                                 False
hardship_type                                 False
hardship_reason                               False
hardship_status                               False
deferral_term                                  True
hardship_amount                               False
hardship_start_date                           False
hardship_end_date                             False
payment_plan_start_date                       False
hardship_length                                True
hardship_dpd                                  False
hardship_loan_status                          False
orig_projected_additional_accrued_interest    False
hardship_payoff_balance_amount                False
hardship_last_payment_amount                  False
disbursement_method                           False
debt_settlement_flag                          False
debt_settlement_flag_date                     False
settlement_status                             False
settlement_date                               False
settlement_amount                             False
settlement_percentage                         False
settlement_term                               False
dtype: bool

Missing values: 
We identified columns with a high percentage of missing values, so we proceeded to define a missing threshold of 50%, where variables with more than 50% missing values will be considered for exclusion from the modeling stage. However, first we must evaluate them on a case-by-case basis to understand if any of those variables are conceptually important.

In [18]:
missing = df.isna().mean()*100
missing[missing>50]
print(missing)

loan_amnt                                      0.000000
funded_amnt                                    0.000000
funded_amnt_inv                                0.000000
term                                           0.000000
int_rate                                       0.000000
installment                                    0.000000
grade                                          0.000000
sub_grade                                      0.000000
emp_length                                     5.422523
home_ownership                                 0.000000
annual_inc                                     0.000000
verification_status                            0.000000
issue_d                                        0.000000
loan_status                                    0.000000
pymnt_plan                                     0.000000
purpose                                        0.000000
zip_code                                       0.000000
addr_state                                     0.000000
dti                                            0.035360
delinq_2yrs                                    0.000000
earliest_cr_line                               0.000000
fico_range_low                                 0.000000
fico_range_high                                0.000000
inq_last_6mths                                 0.000000
mths_since_last_delinq                        54.782147
mths_since_last_record                        87.175327
open_acc                                       0.000000
pub_rec                                        0.000000
revol_bal                                      0.000000
revol_util                                     0.063960
total_acc                                      0.000000
initial_list_status                            0.000000
out_prncp                                      0.000000
out_prncp_inv                                  0.000000
total_pymnt                                    0.000000
total_pymnt_inv                                0.000000
total_rec_prncp                                0.000000
total_rec_int                                  0.000000
total_rec_late_fee                             0.000000
recoveries                                     0.000000
collection_recovery_fee                        0.000000
last_pymnt_d                                   0.112839
last_pymnt_amnt                                0.000000
next_pymnt_d                                  75.705245
last_credit_pull_d                             0.004680
last_fico_range_high                           0.000000
last_fico_range_low                            0.000000
collections_12_mths_ex_med                     0.000000
mths_since_last_major_derog                   80.238054
application_type                               0.000000
annual_inc_joint                              96.907581
dti_joint                                     96.907581
verification_status_joint                     97.014180
acc_now_delinq                                 0.000000
tot_coll_amt                                  23.138283
tot_cur_bal                                   23.138283
open_acc_6m                                   63.197250
open_act_il                                   63.197250
open_il_12m                                   63.197250
open_il_24m                                   63.197250
mths_since_rcnt_il                            64.383882
total_bal_il                                  63.197250
il_util                                       68.575574
open_rv_12m                                   63.197250
open_rv_24m                                   63.197250
max_bal_bc                                    63.197250
all_util                                      63.200370
total_rev_hi_lim                              23.138283
inq_fi                                        63.197250
total_cu_tl                                   63.197250
inq_last_12m                                  63.197250
acc_open_past_24mths                          18.034517
avg_cur_bal                                   23.140883
bc_open_to_buy                                18.922671
bc_util                                       18.954911
chargeoff_within_12_mths                       0.000000
delinq_amnt                                    0.000000
mo_sin_old_il_acct                            25.675345
mo_sin_old_rev_tl_op                          23.138283
mo_sin_rcnt_rev_tl_op                         23.138283
mo_sin_rcnt_tl                                23.138283
mort_acc                                      18.034517
mths_since_recent_bc                          18.848832
mths_since_recent_bc_dlq                      81.629565
mths_since_recent_inq                         27.165655
mths_since_recent_revol_delinq                73.064183
num_accts_ever_120_pd                         23.138283
num_actv_bc_tl                                23.138283
num_actv_rev_tl                               23.138283
num_bc_sats                                   20.605900
num_bc_tl                                     23.138283
num_il_tl                                     23.138283
num_op_rev_tl                                 23.138283
num_rev_accts                                 23.138283
num_rev_tl_bal_gt_0                           23.138283
num_sats                                      20.605900
num_tl_120dpd_2m                              25.563026
num_tl_30dpd                                  23.138283
num_tl_90g_dpd_24m                            23.138283
num_tl_op_past_12m                            23.138283
pct_tl_nvr_dlq                                23.146603
percent_bc_gt_75                              18.938791
pub_rec_bankruptcies                           0.000000
tax_liens                                      0.000000
tot_hi_cred_lim                               23.138283
total_bal_ex_mort                             18.034517
total_bc_limit                                18.034517
total_il_high_credit_limit                    23.138283
revol_bal_joint                               97.293938
sec_app_fico_range_low                        97.293938
sec_app_fico_range_high                       97.293938
sec_app_earliest_cr_line                      97.293938
sec_app_inq_last_6mths                        97.293938
sec_app_mort_acc                              97.293938
sec_app_open_acc                              97.293938
sec_app_revol_util                            97.348018
sec_app_open_act_il                           97.293938
sec_app_num_rev_accts                         97.293938
sec_app_chargeoff_within_12_mths              97.293938
sec_app_collections_12_mths_ex_med            97.293938
sec_app_mths_since_last_major_derog           99.095726
hardship_flag                                  0.000000
hardship_type                                 99.685922
hardship_reason                               99.685922
hardship_status                               99.685922
deferral_term                                 99.685922
hardship_amount                               99.685922
hardship_start_date                           99.685922
hardship_end_date                             99.685922
payment_plan_start_date                       99.685922
hardship_length                               99.685922
hardship_dpd                                  99.685922
hardship_loan_status                          99.685922
orig_projected_additional_accrued_interest    99.756642
hardship_payoff_balance_amount                99.685922
hardship_last_payment_amount                  99.685922
disbursement_method                            0.000000
debt_settlement_flag                           0.000000
debt_settlement_flag_date                     98.681809
settlement_status                             98.681809
settlement_date                               98.681809
settlement_amount                             98.681809
settlement_percentage                         98.681809
settlement_term                               98.681809
dtype: float64

In [19]:
missing_threshold = 50

high_missing_cols = missing[missing >= missing_threshold]
print(high_missing_cols)

mths_since_last_delinq                        54.782147
mths_since_last_record                        87.175327
next_pymnt_d                                  75.705245
mths_since_last_major_derog                   80.238054
annual_inc_joint                              96.907581
dti_joint                                     96.907581
verification_status_joint                     97.014180
open_acc_6m                                   63.197250
open_act_il                                   63.197250
open_il_12m                                   63.197250
open_il_24m                                   63.197250
mths_since_rcnt_il                            64.383882
total_bal_il                                  63.197250
il_util                                       68.575574
open_rv_12m                                   63.197250
open_rv_24m                                   63.197250
max_bal_bc                                    63.197250
all_util                                      63.200370
inq_fi                                        63.197250
total_cu_tl                                   63.197250
inq_last_12m                                  63.197250
mths_since_recent_bc_dlq                      81.629565
mths_since_recent_revol_delinq                73.064183
revol_bal_joint                               97.293938
sec_app_fico_range_low                        97.293938
sec_app_fico_range_high                       97.293938
sec_app_earliest_cr_line                      97.293938
sec_app_inq_last_6mths                        97.293938
sec_app_mort_acc                              97.293938
sec_app_open_acc                              97.293938
sec_app_revol_util                            97.348018
sec_app_open_act_il                           97.293938
sec_app_num_rev_accts                         97.293938
sec_app_chargeoff_within_12_mths              97.293938
sec_app_collections_12_mths_ex_med            97.293938
sec_app_mths_since_last_major_derog           99.095726
hardship_type                                 99.685922
hardship_reason                               99.685922
hardship_status                               99.685922
deferral_term                                 99.685922
hardship_amount                               99.685922
hardship_start_date                           99.685922
hardship_end_date                             99.685922
payment_plan_start_date                       99.685922
hardship_length                               99.685922
hardship_dpd                                  99.685922
hardship_loan_status                          99.685922
orig_projected_additional_accrued_interest    99.756642
hardship_payoff_balance_amount                99.685922
hardship_last_payment_amount                  99.685922
debt_settlement_flag_date                     98.681809
settlement_status                             98.681809
settlement_date                               98.681809
settlement_amount                             98.681809
settlement_percentage                         98.681809
settlement_term                               98.681809
dtype: float64

In [20]:
(missing > 0).sum()

np.int64(95)

Now we have to identify other missing values and audit them to understand how we should treat each case.

In [21]:
#Identify other missing values
cat_col = df.select_dtypes(include=['object']).columns

for col in cat_col: 
    print(df[col].value_counts())

term
36 months    137472
60 months     54837
Name: count, dtype: int64
grade
B    57542
C    51332
A    37335
D    27757
E    12718
F     4417
G     1208
Name: count, dtype: int64
sub_grade
B3    12706
B4    12370
C1    12100
B5    11572
C2    11040
B2    10845
B1    10049
C3     9871
C4     9583
A5     9521
A4     9127
C5     8738
D1     6617
A1     6535
D2     6314
A3     6311
A2     5841
D3     5667
D4     4927
D5     4232
E1     3185
E2     2938
E3     2421
E4     2171
E5     2003
F1     1390
F2     1026
F3      861
F4      636
F5      504
G1      404
G2      288
G3      200
G4      184
G5      132
Name: count, dtype: int64
emp_length
10+ years    60263
2 years      17674
< 1 year     16144
3 years      15639
5 years      13163
1 year       12722
4 years      12500
6 years       9969
7 years       8823
8 years       8077
9 years       6907
Name: count, dtype: int64

home_ownership
MORTGAGE    93952
RENT        79309
OWN         18968
ANY            52
OTHER          15
NONE           13
Name: count, dtype: int64
verification_status
Source Verified    67530
Not Verified       62455
Verified           62324
Name: count, dtype: int64
issue_d
2011-10-01 00:00:00    1941
2011-11-01 00:00:00    1941
2011-12-01 00:00:00    1941
2012-01-01 00:00:00    1941
2012-02-01 00:00:00    1941
2012-03-01 00:00:00    1941
2012-04-01 00:00:00    1941
2013-01-01 00:00:00    1941
2013-02-01 00:00:00    1941
2013-03-01 00:00:00    1941
2013-04-01 00:00:00    1941
2013-05-01 00:00:00    1941
2013-06-01 00:00:00    1941
2013-07-01 00:00:00    1941
2011-09-01 00:00:00    1941
2012-12-01 00:00:00    1941
2012-11-01 00:00:00    1941
2012-10-01 00:00:00    1941
2012-09-01 00:00:00    1941
2012-08-01 00:00:00    1941
2012-07-01 00:00:00    1941
2012-06-01 00:00:00    1941
2012-05-01 00:00:00    1941
2013-08-01 00:00:00    1941
2014-11-01 00:00:00    1941
2014-10-01 00:00:00    1941
2014-09-01 00:00:00    1941
2014-08-01 00:00:00    1941
2014-07-01 00:00:00    1941
2014-06-01 00:00:00    1941
2014-05-01 00:00:00    1941
2014-04-01 00:00:00    1941
2014-03-01 00:00:00    1941
2014-02-01 00:00:00    1941
2014-01-01 00:00:00    1941
2013-12-01 00:00:00    1941
2013-11-01 00:00:00    1941
2013-10-01 00:00:00    1941
2013-09-01 00:00:00    1941
2016-05-01 00:00:00    1941
2016-06-01 00:00:00    1941
2016-07-01 00:00:00    1941
2016-08-01 00:00:00    1941
2016-09-01 00:00:00    1941
2016-10-01 00:00:00    1941
2016-11-01 00:00:00    1941
2016-12-01 00:00:00    1941
2017-01-01 00:00:00    1941
2017-02-01 00:00:00    1941
2017-03-01 00:00:00    1941
2017-04-01 00:00:00    1941
2017-05-01 00:00:00    1941
2017-06-01 00:00:00    1941
2017-07-01 00:00:00    1941
2014-12-01 00:00:00    1941
2015-01-01 00:00:00    1941
2015-02-01 00:00:00    1941
2015-03-01 00:00:00    1941
2015-04-01 00:00:00    1941
2015-05-01 00:00:00    1941
2015-06-01 00:00:00    1941
2015-07-01 00:00:00    1941
2015-08-01 00:00:00    1941
2015-09-01 00:00:00    1941
2015-10-01 00:00:00    1941
2015-11-01 00:00:00    1941
2015-12-01 00:00:00    1941
2016-01-01 00:00:00    1941
2016-02-01 00:00:00    1941
2016-03-01 00:00:00    1941
2016-04-01 00:00:00    1941
2017-09-01 00:00:00    1941
2017-10-01 00:00:00    1941
2017-11-01 00:00:00    1941
2017-12-01 00:00:00    1941
2018-01-01 00:00:00    1941
2018-02-01 00:00:00    1941
2018-03-01 00:00:00    1941
2018-04-01 00:00:00    1941
2018-05-01 00:00:00    1941
2018-06-01 00:00:00    1941
2018-07-01 00:00:00    1941
2018-08-01 00:00:00    1941
2018-09-01 00:00:00    1941
2018-10-01 00:00:00    1941
2018-11-01 00:00:00    1941
2017-08-01 00:00:00    1941
2018-12-01 00:00:00    1941
2011-08-01 00:00:00    1934
2011-07-01 00:00:00    1875
2011-06-01 00:00:00    1835
2011-05-01 00:00:00    1704
2011-04-01 00:00:00    1563
2011-03-01 00:00:00    1448
2011-01-01 00:00:00    1380
2010-12-01 00:00:00    1335
2011-02-01 00:00:00    1298
2010-10-01 00:00:00    1232
2010-11-01 00:00:00    1224
2010-07-01 00:00:00    1204
2010-09-01 00:00:00    1189
2010-08-01 00:00:00    1175
2010-06-01 00:00:00    1105
Name: count, dtype: int64
loan_status
Fully Paid                                             119522
Current                                                 44223
Charged Off                                             26066
Late (31-120 days)                                       1180
In Grace Period                                           468
Does not meet the credit policy. Status:Fully Paid        442
Late (16-30 days)                                         219
Does not meet the credit policy. Status:Charged Off       186
Default                                                     3
Name: count, dtype: int64
pymnt_plan
n    192275
y        34
Name: count, dtype: int64
purpose
debt_consolidation    107566
credit_card            40689
home_improvement       12460
other                  12136
major_purchase          5174
small_business          3296
car                     3000
medical                 2410
moving                  1546
vacation                1369
house                   1309
wedding                 1123
renewable_energy         199
educational               32
Name: count, dtype: int64
zip_code
945xx    2197
112xx    2174
606xx    1998
750xx    1959
100xx    1803
070xx    1730
300xx    1705
331xx    1687
900xx    1588
770xx    1493
917xx    1411
330xx    1407
891xx    1396
104xx    1371
117xx    1330
926xx    1257
921xx    1251
852xx    1190
913xx    1169
925xx    1135
021xx    1109
113xx    1083
604xx    1073
334xx    1067
601xx    1019
956xx     978
920xx     952
941xx     950
080xx     933
853xx     931
481xx     929
980xx     919
600xx     916
760xx     905
201xx     900
928xx     898
802xx     876
774xx     868
207xx     865
923xx     864
773xx     862
301xx     858
850xx     846
088xx     834
951xx     829
902xx     827
114xx     788
333xx     777
554xx     768
782xx     762
212xx     756
327xx     750
480xx     737
940xx     732
553xx     727
953xx     723
605xx     716
786xx     714
303xx     710
752xx     707
328xx     702
787xx     702
275xx     699
800xx     697
191xx     697
890xx     691
958xx     678
775xx     659
064xx     655
190xx     649
302xx     643
967xx     640
282xx     639
981xx     637
441xx     629
840xx     626
761xx     616
801xx     615
060xx     600
335xx     599
950xx     597
028xx     596
210xx     591
483xx     587
115xx     575
430xx     568
322xx     557
018xx     554
200xx     552
907xx     549
337xx     548
906xx     546
922xx     544
347xx     544
982xx     542
972xx     541
208xx     540
336xx     533
919xx     531
751xx     501
930xx     499
857xx     499
152xx     496
105xx     490
342xx     488
970xx     485
103xx     482
432xx     481
076xx     479
631xx     475
551xx     472
296xx     469
799xx     464
339xx     462
983xx     462
346xx     454
109xx     454
550xx     448
077xx     446
440xx     445
640xx     439
283xx     437
338xx     436
305xx     410
294xx     408
762xx     407
217xx     406
325xx     404
211xx     403
329xx     403
027xx     403
452xx     402
871xx     401
221xx     400
180xx     400
935xx     398
785xx     397
908xx     395
280xx     393
276xx     390
532xx     389
111xx     388
809xx     384
462xx     382
402xx     382
641xx     381
142xx     381
234xx     379
630xx     378
946xx     376
220xx     376
125xx     374
074xx     366
194xx     366
450xx     363
370xx     363
957xx     362
765xx     357
023xx     357
019xx     357
223xx     357
232xx     355
805xx     355
010xx     355
986xx     354
740xx     352
463xx     351
320xx     351
633xx     350
531xx     350
068xx     347
730xx     343
442xx     342
140xx     339
933xx     333
272xx     332
087xx     329
973xx     328
731xx     326
410xx     325
700xx     324
705xx     321
206xx     319
660xx     319
281xx     318
932xx     317
431xx     315
954xx     314
490xx     313
349xx     311
934xx     311
130xx     311
078xx     310
662xx     306
841xx     302
488xx     300
959xx     297
067xx     296
170xx     295
030xx     294
482xx     294
460xx     293
530xx     292
029xx     292
968xx     289
286xx     287
321xx     287
851xx     282
015xx     281
949xx     279
146xx     277
073xx     276
927xx     274
310xx     273
984xx     272
352xx     271
295xx     270
937xx     270
985xx     269
952xx     269
209xx     264
371xx     264
895xx     261
974xx     261
727xx     260
020xx     258
193xx     258
936xx     257
461xx     256
231xx     256
063xx     256
065xx     254
350xx     254
151xx     254
150xx     253
017xx     250
120xx     249
995xx     245
535xx     243
939xx     240
222xx     239
107xx     239
287xx     237
381xx     236
704xx     236
284xx     236
085xx     235
453xx     235
066xx     235
707xx     235
290xx     231
071xx     230
701xx     227
894xx     226
285xx     226
344xx     224
145xx     224
454xx     223
494xx     223
323xx     222
856xx     220
189xx     219
910xx     219
484xx     218
273xx     217
622xx     217
236xx     217
306xx     216
380xx     216
446xx     215
720xx     215
780xx     213
971xx     211
024xx     211
916xx     210
781xx     209
119xx     209
144xx     209
549xx     209
741xx     209
082xx     208
061xx     207
672xx     205
914xx     204
038xx     203
238xx     203
797xx     203
278xx     201
297xx     200
992xx     198
173xx     196
341xx     196
326xx     194
110xx     192
086xx     191
292xx     189
365xx     188
245xx     188
274xx     187
224xx     186
307xx     186
451xx     186
197xx     186
225xx     185
199xx     184
240xx     184
083xx     184
993xx     182
708xx     181
754xx     180
351xx     180
121xx     178
559xx     177
277xx     176
373xx     174
405xx     174
912xx     174
806xx     173
721xx     169
444xx     169
372xx     168
458xx     167
229xx     166
293xx     165
456xx     163
703xx     162
435xx     161
778xx     161
465xx     161
386xx     160
492xx     160
054xx     159
156xx     158
486xx     158
794xx     157
495xx     156
975xx     155
313xx     155
062xx     154
610xx     154
324xx     154
657xx     153
905xx     153
128xx     153
314xx     152
960xx     152
757xx     151
989xx     151
254xx     150
544xx     149
072xx     149
379xx     149
563xx     149
931xx     149
366xx     148
198xx     148
014xx     148
079xx     147
233xx     147
357xx     147
315xx     146
436xx     146
230xx     145
711xx     145
069xx     144
378xx     144
226xx     144
368xx     143
136xx     142
448xx     141
141xx     141
804xx     140
308xx     139
864xx     139
944xx     139
443xx     138
360xx     138
681xx     137
756xx     137
706xx     136
618xx     136
148xx     135
317xx     135
184xx     135
132xx     135
075xx     134
560xx     134
620xx     133
880xx     132
356xx     131
791xx     131
395xx     130
271xx     128
270xx     126
403xx     125
810xx     124
183xx     124
400xx     123
977xx     121
175xx     121
816xx     121
291xx     121
863xx     121
658xx     120
241xx     120
376xx     119
129xx     119
195xx     118
911xx     118
363xx     118
924xx     117
134xx     117
597xx     116
537xx     116
032xx     115
722xx     115
216xx     114
652xx     114
496xx     114
319xx     114
712xx     111
648xx     111
915xx     111
123xx     110
729xx     110
875xx     110
196xx     110
124xx     110
948xx     109
299xx     109
468xx     109
131xx     108
904xx     108
026xx     108
469xx     108
666xx     107
160xx     107
988xx     107
617xx     107
479xx     106
471xx     106
081xx     106
784xx     106
612xx     105
361xx     105
598xx     104
016xx     104
611xx     104
218xx     103
547xx     103
493xx     102
996xx     102
670xx     101
031xx     100
541xx     100
153xx     100
467xx      99
358xx      99
235xx      99
724xx      99
437xx      98
181xx      97
844xx      97
161xx      95
244xx      95
101xx      95
860xx      95
656xx      95
759xx      94
735xx      94
609xx      94
108xx      93
116xx      93
122xx      92
011xx      92
309xx      92
571xx      92
298xx      91
961xx      91
540xx      91
629xx      90
106xx      90
147xx      90
997xx      90
279xx      90
265xx      90
359xx      89
882xx      89
497xx      89
847xx      89
228xx      88
607xx      88
025xx      87
790xx      87
447xx      87
626xx      87
178xx      85
186xx      84
214xx      84
766xx      84
947xx      84
903xx      84
539xx      84
354xx      83
562xx      83
433xx      83
489xx      83
439xx      83
591xx      82
304xx      82
362xx      82
570xx      82
434xx      82
815xx      82
473xx      82
089xx      81
763xx      81
377xx      80
168xx      79
546xx      79
171xx      79
421xx      79
176xx      78
628xx      78
260xx      78
820xx      78
846xx      78
565xx      78
776xx      77
955xx      77
744xx      77
577xx      77
154xx      76
627xx      76
615xx      75
808xx      75
829xx      74
172xx      74
383xx      74
174xx      74
543xx      74
182xx      74
685xx      73
990xx      73
040xx      73
127xx      73
723xx      73
133xx      73
138xx      73
557xx      72
665xx      72
767xx      72
870xx      72
187xx      72
316xx      71
918xx      71
978xx      71
836xx      71
219xx      71
487xx      71
012xx      70
826xx      70
242xx      70
185xx      69
616xx      68
166xx      68
661xx      68
898xx      68
625xx      68
803xx      67
474xx      67
159xx      67
548xx      67
401xx      66
165xx      66
714xx      66
404xx      66
312xx      66
374xx      65
710xx      65
498xx      65
613xx      64
650xx      64
667xx      64
843xx      64
227xx      63
608xx      63
137xx      63
716xx      63
472xx      63
177xx      62
243xx      61
783xx      61
390xx      61
491xx      60
288xx      60
355xx      60
678xx      60
427xx      60
394xx      59
478xx      59
534xx      59
385xx      58
713xx      58
680xx      58
943xx      57
769xx      57
457xx      57
420xx      57
674xx      57
423xx      56
391xx      56
788xx      56
057xx      55
179xx      55
645xx      55
748xx      55
253xx      55
719xx      55
812xx      55
594xx      54
796xx      54
726xx      53
664xx      53
475xx      53
118xx      53
811xx      53
614xx      53
445xx      53
558xx      53
602xx      52
874xx      52
013xx      52
143xx      51
619xx      51
998xx      51
671xx      51
318xx      50
392xx      50
449xx      50
728xx      50
777xx      50
126xx      50
647xx      50
163xx      50
793xx      49
255xx      49
599xx      49
636xx      49
718xx      48
261xx      48
564xx      48
976xx      48
855xx      48
037xx      48
655xx      47
637xx      47
411xx      47
814xx      47
827xx      46
743xx      46
388xx      46
034xx      46
624xx      46
056xx      46
263xx      45
215xx      45
795xx      45
779xx      45
561xx      45
991xx      45
813xx      45
050xx      45
470xx      44
755xx      44
653xx      44
596xx      44
464xx      44
675xx      43
764xx      43
758xx      42
237xx      41
157xx      41
384xx      41
466xx      40
485xx      40
477xx      40
476xx      40
139xx      40
749xx      40
033xx      40
424xx      40
881xx      39
581xx      39
603xx      38
623xx      38
246xx      38
393xx      38
573xx      38
883xx      38
239xx      37
644xx      37
897xx      37
572xx      37
542xx      36
838xx      36
158xx      36
164xx      36
162xx      36
566xx      35
837xx      34
859xx      34
807xx      34
257xx      34
455xx      34
717xx      33
737xx      33
725xx      33
634xx      32
422xx      32
397xx      32
258xx      32
545xx      32
396xx      32
499xx      32
651xx      31
251xx      31
155xx      31
407xx      31
824xx      30
587xx      30
188xx      30
247xx      30
135xx      30
567xx      30
425xx      30
084xx      30
398xx      29
654xx      29
828xx      29
149xx      28
582xx      28
585xx      28
044xx      27
382xx      27
102xx      27
042xx      27
789xx      27
734xx      27
590xx      27
745xx      27
574xx      27
264xx      26
668xx      26
676xx      26
688xx      26
058xx      25
406xx      25
053xx      25
262xx      24
639xx      24
049xx      24
438xx      24
768xx      24
580xx      24
593xx      24
646xx      23
638xx      23
415xx      23
833xx      23
167xx      22
364xx      22
035xx      22
877xx      22
825xx      22
367xx      21
845xx      21
798xx      21
592xx      21
051xx      20
673xx      20
635xx      20
747xx      20
999xx      20
409xx      20
736xx      19
677xx      19
268xx      19
575xx      19
412xx      19
389xx      19
834xx      19
387xx      19
249xx      18
689xx      18
022xx      17
043xx      17
822xx      17
679xx      17
683xx      16
416xx      16
588xx      16
893xx      16
693xx      16
267xx      16
865xx      16
250xx      16
169xx      15
041xx      15
252xx      15
039xx      15
052xx      15
830xx      14
746xx      14
831xx      14
413xx      14
595xx      13
538xx      13
256xx      13
691xx      13
873xx      13
586xx      13
045xx      13
259xx      13
046xx      13
772xx      12
792xx      12
583xx      12
289xx      11
832xx      11
556xx      11
426xx      10
686xx      10
047xx      10
739xx      10
687xx      10
835xx       9
884xx       9
738xx       9
684xx       9
417xx       9
418xx       8
332xx       8
823xx       8
584xx       8
979xx       8
669xx       8
048xx       8
576xx       8
266xx       8
036xx       8
994xx       7
753xx       7
369xx       7
408xx       6
878xx       6
963xx       5
248xx       5
690xx       5
962xx       4
096xx       4
090xx       4
414xx       3
094xx       3
969xx       3
097xx       2
879xx       2
663xx       2
203xx       2
311xx       2
059xx       2
511xx       1
527xx       1
375xx       1
504xx       1
092xx       1
861xx       1
353xx       1
528xx       1
892xx       1
510xx       1
909xx       1
098xx       1
091xx       1
938xx       1
966xx       1
901xx       1
821xx       1
Name: count, dtype: int64
addr_state
CA    28830
NY    16514
TX    15169
FL    13761
IL     7820
NJ     7386
PA     6713
GA     6225
OH     6138
VA     5739
NC     5386
MA     4813
MI     4737
MD     4561
AZ     4420
WA     4215
CO     3946
MN     3331
MO     3197
CT     3148
NV     2694
IN     2496
WI     2484
AL     2290
LA     2266
SC     2254
OR     2227
TN     2179
KY     1846
OK     1702
KS     1621
AR     1381
UT     1287
NM      989
HI      931
RI      890
NH      878
WV      811
MS      698
DC      552
MT      534
DE      521
AK      514
WY      404
NE      395
VT      393
SD      380
ME      242
ID      201
ND      199
IA        1
Name: count, dtype: int64
earliest_cr_line
Oct-2001    1327
Oct-2000    1311
Oct-1999    1267
Nov-2000    1263
Aug-2000    1238
Nov-1999    1191
Sep-2004    1190
Oct-2002    1186
Sep-2003    1179
Sep-2002    1166
Aug-2001    1164
Oct-2003    1156
Sep-2000    1148
Aug-2002    1132
Sep-2001    1129
Dec-2000    1097
Aug-1999    1088
Dec-1999    1085
Nov-1998    1079
Aug-2003    1074
Sep-1999    1061
Oct-2004    1059
Aug-2004    1059
Nov-2001    1052
Sep-2005    1039
Jul-2001    1035
Jul-2000    1030
Dec-1998    1024
Jan-2000    1023
Jan-2001    1021
May-2001    1020
Dec-2001    1008
Jul-2003    1004
Aug-2006    1004
Mar-2000    1001
Aug-2005     998
May-2000     988
Sep-1998     971
Nov-2002     971
Oct-1998     965
Nov-2003     960
Jul-2004     959
Jun-2001     945
Jun-2000     942
Mar-2001     941
Feb-2000     941
Nov-2004     935
Sep-2006     925
Oct-2005     922
Apr-2000     922
Jun-1999     919
Dec-2002     919
Mar-2002     918
Jul-2002     916
Aug-1998     914
Apr-2001     911
Dec-2003     908
May-2002     902
Jul-1999     899
Oct-1997     890
Jan-2002     889
Apr-2002     888
Dec-1997     885
Nov-1997     885
Mar-1999     884
May-1999     873
Jan-1999     869
Mar-2003     865
Dec-2004     863
Jun-2004     859
Sep-1997     857
Feb-2001     853
May-2003     842
Nov-1996     840
Jul-2005     828
Mar-2004     824
Feb-1999     820
May-2004     817
Feb-2002     815
Oct-1996     815
Nov-2005     812
Apr-2003     807
Apr-2004     807
Apr-1999     803
Jun-2005     803
Oct-1995     803
Oct-2006     799
Jun-2003     798
Jan-2005     793
Dec-1994     784
Nov-1995     779
Apr-2006     778
Dec-1996     777
Feb-2005     776
Jun-2002     774
Jul-1998     771
Sep-1995     769
Jan-1998     767
May-2005     756
Jun-2006     749
Dec-2005     748
Apr-2005     748
Jan-2003     741
May-2006     741
Aug-1997     740
Jul-2006     735
Mar-2006     732
Feb-2003     731
Feb-2004     730
Dec-1995     728
Mar-2005     726
May-1998     724
Jun-1998     717
Sep-1996     717
Aug-1995     707
Jan-2004     704
Jan-1997     701
Nov-2006     701
Apr-1998     700
Aug-1996     700
Jan-1996     700
Aug-2007     684
Jan-2006     677
Nov-1994     675
Mar-1998     675
Oct-1994     668
Dec-2006     663
Dec-1993     653
May-1996     649
Mar-2007     638
Feb-2006     634
Feb-1998     632
Jul-1997     631
May-1997     631
Feb-1996     626
Jun-1996     622
Jan-1995     622
Mar-1997     619
Sep-2007     619
Mar-1996     619
Mar-1994     611
Jul-1996     611
Aug-1994     608
Feb-2007     608
Jun-1995     599
Apr-1997     595
Mar-1995     592
Jan-2007     591
May-1995     587
Nov-1993     585
Jul-2007     585

In [22]:
df_faltantes = df.replace(['None'],np.nan,inplace=True)

Columns with more than 50% missing values were manually reviewed and classified into post-loan variables, second-applicant features, structurally missing variables, and late-reported behavioral features based on domain knowledge and data documentation. No features were removed at this stage; the analysis documents decisions to be applied during model preparation.

In [23]:
def classify_column(col):
    # --- POST-LOAN / LEAKAGE ---
    if (
        col.startswith(("hardship", "settlement", "deferral")) or
        col in [
            'recoveries',
            'collection_recovery_fee',
            'total_rec_late_fee',
            'out_prncp',
            'out_prncp_inv',
            'loan_status'
        ]
    ):
        return "post_loan"

    # --- SECOND APPLICANT ---
    if col.startswith("sec_app") or col.endswith("_joint"):
        return "second_applicant"

    # --- STRUCTURAL MISSING ---
    if col.startswith("mths_since"):
        return "structural_missing"

    # --- EVERYTHING ELSE ---
    return "other"


# Explicit categories (including OTHER)
categories = [
    "post_loan",
    "second_applicant",
    "structural_missing",
    "other"
]

# Build the dictionary of column lists
analysis_dict = {
    cat: [col for col in df.columns if classify_column(col) == cat]
    for cat in categories
}

print("🔍 --- STARTING COLUMN CATEGORIZATION ANALYSIS --- 🔍\n")

for category, cols in analysis_dict.items():
    print(f"📁 CATEGORY: {category.upper()}")
    if not cols:
        print("   ❌ No columns found in this category.\n")
    else:
        print(f"   ✅ Found {len(cols)} columns.")
        missing_stats = df[cols].isnull().mean() * 100
        print(missing_stats.sort_values(ascending=False).to_string())
        print("-" * 40 + "\n")

print("🚀 --- ANALYSIS COMPLETE --- 🚀")

🔍 --- STARTING COLUMN CATEGORIZATION ANALYSIS --- 🔍

📁 CATEGORY: POST_LOAN
   ✅ Found 24 columns.
hardship_type                     99.685922
hardship_length                   99.685922
hardship_end_date                 99.685922
hardship_start_date               99.685922
hardship_amount                   99.685922
deferral_term                     99.685922
hardship_status                   99.685922
hardship_reason                   99.685922
hardship_loan_status              99.685922
hardship_payoff_balance_amount    99.685922
hardship_last_payment_amount      99.685922
hardship_dpd                      99.685922
settlement_date                   98.681809
settlement_amount                 98.681809
settlement_percentage             98.681809
settlement_status                 98.681809
settlement_term                   98.681809
hardship_flag                      0.000000
recoveries                         0.000000
collection_recovery_fee            0.000000
out_prncp                          0.000000
out_prncp_inv                      0.000000
loan_status                        0.000000
total_rec_late_fee                 0.000000
----------------------------------------

📁 CATEGORY: SECOND_APPLICANT
   ✅ Found 16 columns.
sec_app_mths_since_last_major_derog    99.095726
sec_app_revol_util                     97.348018
revol_bal_joint                        97.293938
sec_app_earliest_cr_line               97.293938
sec_app_inq_last_6mths                 97.293938
sec_app_open_acc                       97.293938
sec_app_fico_range_high                97.293938
sec_app_fico_range_low                 97.293938
sec_app_open_act_il                    97.293938
sec_app_num_rev_accts                  97.293938
sec_app_chargeoff_within_12_mths       97.293938
sec_app_mort_acc                       97.293938
sec_app_collections_12_mths_ex_med     97.293938
verification_status_joint              97.014180
dti_joint                              96.907581
annual_inc_joint                       96.907581
----------------------------------------

📁 CATEGORY: STRUCTURAL_MISSING
   ✅ Found 8 columns.
mths_since_last_record            87.175327
mths_since_recent_bc_dlq          81.629565
mths_since_last_major_derog       80.238054
mths_since_recent_revol_delinq    73.064183
mths_since_rcnt_il                64.383882
mths_since_last_delinq            54.782147
mths_since_recent_inq             27.165655
mths_since_recent_bc              18.848832
----------------------------------------

📁 CATEGORY: OTHER
   ✅ Found 96 columns.
orig_projected_additional_accrued_interest    99.756642
payment_plan_start_date                       99.685922
debt_settlement_flag_date                     98.681809
next_pymnt_d                                  75.705245
il_util                                       68.575574
all_util                                      63.200370
open_il_24m                                   63.197250
open_il_12m                                   63.197250
open_act_il                                   63.197250
open_acc_6m                                   63.197250
open_rv_12m                                   63.197250
total_bal_il                                  63.197250
open_rv_24m                                   63.197250
max_bal_bc                                    63.197250
inq_fi                                        63.197250
total_cu_tl                                   63.197250
inq_last_12m                                  63.197250
mo_sin_old_il_acct                            25.675345
num_tl_120dpd_2m                              25.563026
pct_tl_nvr_dlq                                23.146603
avg_cur_bal                                   23.140883
tot_coll_amt                                  23.138283
num_op_rev_tl                                 23.138283
num_bc_tl                                     23.138283
num_rev_tl_bal_gt_0                           23.138283
total_rev_hi_lim                              23.138283
tot_cur_bal                                   23.138283
num_il_tl                                     23.138283
num_accts_ever_120_pd                         23.138283
num_actv_bc_tl                                23.138283
mo_sin_rcnt_rev_tl_op                         23.138283
mo_sin_old_rev_tl_op                          23.138283
total_il_high_credit_limit                    23.138283
num_tl_30dpd                                  23.138283
num_tl_90g_dpd_24m                            23.138283
num_rev_accts                                 23.138283
tot_hi_cred_lim                               23.138283
num_tl_op_past_12m                            23.138283
num_actv_rev_tl                               23.138283
mo_sin_rcnt_tl                                23.138283
num_bc_sats                                   20.605900
num_sats                                      20.605900
bc_util                                       18.954911
percent_bc_gt_75                              18.938791
bc_open_to_buy                                18.922671
mort_acc                                      18.034517
total_bal_ex_mort                             18.034517
acc_open_past_24mths                          18.034517
total_bc_limit                                18.034517
emp_length                                     5.422523
last_pymnt_d                                   0.112839
revol_util                                     0.063960
dti                                            0.035360
last_credit_pull_d                             0.004680
verification_status                            0.000000
issue_d                                        0.000000
funded_amnt                                    0.000000
funded_amnt_inv                                0.000000
installment                                    0.000000
int_rate                                       0.000000
loan_amnt                                      0.000000
annual_inc                                     0.000000
home_ownership                                 0.000000
sub_grade                                      0.000000
total_rec_prncp                                0.000000
total_pymnt_inv                                0.000000
total_pymnt                                    0.000000
initial_list_status                            0.000000
total_acc                                      0.000000
revol_bal                                      0.000000
pub_rec                                        0.000000
open_acc                                       0.000000
earliest_cr_line                               0.000000
inq_last_6mths                                 0.000000
fico_range_high                                0.000000
fico_range_low                                 0.000000
addr_state                                     0.000000
delinq_2yrs                                    0.000000
purpose                                        0.000000
zip_code                                       0.000000
term                                           0.000000
grade                                          0.000000
pymnt_plan                                     0.000000
delinq_amnt                                    0.000000
total_rec_int                                  0.000000
last_fico_range_low                            0.000000
application_type                               0.000000
acc_now_delinq                                 0.000000
collections_12_mths_ex_med                     0.000000
chargeoff_within_12_mths                       0.000000
last_fico_range_high                           0.000000
last_pymnt_amnt                                0.000000
tax_liens                                      0.000000
pub_rec_bankruptcies                           0.000000
disbursement_method                            0.000000
debt_settlement_flag                           0.000000
----------------------------------------

🚀 --- ANALYSIS COMPLETE --- 🚀

In [24]:
# def classify_column(col):
#     if col.startswith(("hardship", "settlement", "deferral")):
#         return "post_loan"
#     if col.startswith("sec_app") or col.endswith("_joint"):
#         return "second_applicant"
#     if col.startswith("mths_since"):
#         return "structural_missing"
#     return "other"

# categories = ["post_loan", "second_applicant", "structural_missing"]
# analysis_dict = {cat: [col for col in df.columns if classify_column(col) == cat] for cat in categories}

# print("🔍 --- STARTING COLUMN CATEGORIZATION ANALYSIS --- 🔍\n")

# for category, cols in analysis_dict.items():
#     print(f"📁 CATEGORY: {category.upper()}")
#     if not cols:
#         print("   ❌ No columns found in this category.\n")
#     else:
#         print(f"   ✅ Found {len(cols)} columns.")
#         missing_stats = df[cols].isnull().mean() * 100
#         print(missing_stats.sort_values(ascending=False).to_string())
#         print("-" * 40 + "\n")

# print("🚀 --- ANALYSIS COMPLETE --- 🚀")

In [25]:
#Column checker: to be able to quickly check the characteristics of a column and its type

target_col = 'loan_status'  

col_type = df[target_col].dtype

summary = pd.DataFrame({
    'Count': df[target_col].value_counts(dropna=False),
    'Percentage (%)': df[target_col].value_counts(dropna=False, normalize=True) * 100
})

print(f"Content Analysis for: {target_col.upper()}")
print(summary)
print('---'*30)
print(f"Data Type: {col_type}")

Content Analysis for: LOAN_STATUS
                                                     Count  Percentage (%)
loan_status
Fully Paid                                          119522       62.151017
Current                                              44223       22.995804
Charged Off                                          26066       13.554228
Late (31-120 days)                                    1180        0.613596
In Grace Period                                        468        0.243358
Does not meet the credit policy. Status:Fully Paid     442        0.229838
Late (16-30 days)                                      219        0.113879
Does not meet the credit policy. Status:Charged...     186        0.096719
Default                                                  3        0.001560
------------------------------------------------------------------------------------------
Data Type: object

In [26]:
all_classified_cols = (analysis_dict['post_loan'] + 
                      analysis_dict['second_applicant'] + 
                      analysis_dict['structural_missing'])

other_cols = [col for col in df.columns if col not in all_classified_cols]

print("🔍 --- AUDITING 'OTHER' COLUMNS WITH HIGH MISSING RATIO (>40%) ---")
high_missing_other = df[other_cols].isnull().mean()
high_missing_other = high_missing_other[high_missing_other > 0.4].sort_values(ascending=False)

if high_missing_other.empty:
    print("✅ No additional critical missing values found outside defined categories.")
else:
    print("⚠️ Attention: The following columns also have a high missing ratio:")
    print(high_missing_other.to_string())

🔍 --- AUDITING 'OTHER' COLUMNS WITH HIGH MISSING RATIO (>40%) ---
⚠️ Attention: The following columns also have a high missing ratio:
orig_projected_additional_accrued_interest    0.997566
payment_plan_start_date                       0.996859
debt_settlement_flag_date                     0.986818
next_pymnt_d                                  0.757052
il_util                                       0.685756
all_util                                      0.632004
open_acc_6m                                   0.631973
open_il_12m                                   0.631973
open_act_il                                   0.631973
open_rv_24m                                   0.631973
open_rv_12m                                   0.631973
total_bal_il                                  0.631973
open_il_24m                                   0.631973
total_cu_tl                                   0.631973
inq_fi                                        0.631973
max_bal_bc                                    0.631973
inq_last_12m                                  0.631973

1. *Post-loan variables:*

These features contain information generated after loan origination, such as hardship or settlement events. Their high missingness reflects the fact that most loans do not enter these processes. Because these variables include future information relative to the credit decision, they were identified as potential sources of data leakage.

Planned decision: Exclude.

2. *Second-applicant variables:*

These variables describe characteristics of a co-borrower in joint loan applications. The high proportion of missing values reflects that most loans involve a single applicant, meaning missing values indicate the absence of a second applicant rather than missing information.

Rather than modeling the full co-borrower profile, the presence of a second applicant is captured through a binary indicator. This approach preserves potentially relevant information while avoiding additional complexity and extensive imputation.

Planned decision: Create a binary flag indicating whether a loan includes a second applicant, and exclude detailed second-applicant features during model preparation.

3. *Structurally missing variables:*

These features represent the time since the last occurrence of negative credit events. Missing values indicate that the event has never occurred, making the missingness itself informative.

Planned decision: Retain for modeling and apply a dedicated imputation strategy at a later stage.

4. *Late-reported features:*

These variables were introduced into the dataset at later periods and are unavailable for older loans. Missingness is driven by historical reporting limitations rather than borrower behavior.

Planned decision: Evaluate after defining the temporal train-test split.

DATA CLEANING & PREPROCESSING STRATEGY

Now that we have a clearer understanding of the data, we can proceed with data cleaning and processing.

1. DF Backup: Create a full copy of the raw dataset to ensure data integrity and allow for easy rollbacks during the experimentation phase.

2. Target Definition & Filtering: Refine the loan_status variable. We exclude ongoing loans and focus only on definitive outcomes.

Default (1): Charged off, default, or late (30–120 days).
Charged Off
Late (31-120 days)
Default
Does not meet the credit policy. Status:Charged Off

Non-Default (0): Fully paid.
Fully Paid

3. Leakage Removal: Drop all Post-loan variables. These features contain information only available after the credit decision has been made, which would lead to Data Leakage.

4. Structural Simplification (Joint Apps): Consolidate +16 second-applicant features into a single Binary Flag (is_joint_application). This reduces dimensionality while preserving the fact that a co-borrower exists.

5. Zero Ratio & Variance Analysis: Identify features with excessive sparsity. We decide whether to drop columns with near-zero variance or binarize features where the simple presence of an event (0 vs >0) is more predictive than its frequency.

6. Missingness Audit (Missingno): Visualize the remaining missing values to determine the mechanism of missingness (Random vs. Structural). This dictates the final decision: drop the column (if >50% NaN) or keep it for Imputation after the Train-Test Split.

In [27]:
df_backup_raw = df.copy()

Target Definition & Filtering:

In [28]:
df["loan_status"].value_counts()

loan_status
Fully Paid                                             119522
Current                                                 44223
Charged Off                                             26066
Late (31-120 days)                                       1180
In Grace Period                                           468
Does not meet the credit policy. Status:Fully Paid        442
Late (16-30 days)                                         219
Does not meet the credit policy. Status:Charged Off       186
Default                                                     3
Name: count, dtype: int64

In [29]:
default_statuses = [
    "Charged Off",
    "Default",
    "Late (31-120 days)",
    "Does not meet the credit policy. Status:Charged Off"
]

non_default_statuses = [
    "Fully Paid"
]

In [30]:
df_target = df[
    df["loan_status"].isin(default_statuses + non_default_statuses)
].copy()

In [31]:
df_target["target_default"] = df_target["loan_status"].apply(
    lambda x: 1 if x in default_statuses else 0
)

In [32]:
df_target["target_default"].value_counts(normalize=True)

target_default
0    0.813313
1    0.186687
Name: proportion, dtype: float64

In [33]:
pd.crosstab(df_target["loan_status"], df_target["target_default"])

target_default                                           0      1
loan_status
Charged Off                                              0  26066
Default                                                  0      3
Does not meet the credit policy. Status:Charged...       0    186
Fully Paid                                          119522      0
Late (31-120 days)                                       0   1180

In [34]:
print(df_target["loan_status"].value_counts())

loan_status
Fully Paid                                             119522
Charged Off                                             26066
Late (31-120 days)                                       1180
Does not meet the credit policy. Status:Charged Off       186
Default                                                     3
Name: count, dtype: int64

In [35]:
df_target.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,target_default
0,21000.0,13225.0,12822.854854,60 months,13.61,305.06,C,C2,1 year,MORTGAGE,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,0
1,4500.0,4500.0,4500.000000,60 months,16.82,111.41,E,E2,4 years,RENT,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,0
2,8000.0,8000.0,7540.076422,36 months,7.88,250.25,A,A5,< 1 year,RENT,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,0
3,18200.0,18200.0,17054.542187,36 months,7.51,566.22,A,A4,2 years,MORTGAGE,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,0
4,20000.0,20000.0,19811.515921,60 months,15.70,483.18,D,D4,10+ years,MORTGAGE,...,NaN,Cash,N,None,None,None,NaN,NaN,NaN,0

In [36]:
# # Function to inspect unique values and their prevalence
# def inspect_categories(dataframe, column_list):
#     """
#     Prints frequency and percentage distribution for categorical features.
#     """
#     for col in column_list:
#         print(f"\n--- Feature: {col.upper()} ---")
        
#         counts = dataframe[col].value_counts(dropna=False)
#         percentages = dataframe[col].value_counts(dropna=False, normalize=True) * 100
        
#         summary = pd.DataFrame({
#             'Count': counts,
#             'Percentage (%)': percentages.round(2)
#         })
        
#         print(summary)
#         print("-" * 30)

# target_cols = analysis_dict.get('loan_status', [])
# inspect_categories(df, target_cols)
# print(target_cols)

Now we proceed with a zero ratio analysis, that has the objective of helping us decide which variables doesn't have enough information to support the model and which ones are corrupt with 0s that should be NaNs.

In [37]:
#Zero Ratio Analysis
zero_ratio = (df == 0).mean() * 100
zero_ratio_all = zero_ratio[zero_ratio > 0].sort_values(ascending=False)

print("ALL COLUMNS WITH ZEROS")
print(zero_ratio_all.to_string())

ALL COLUMNS WITH ZEROS
delinq_amnt                            99.771202
acc_now_delinq                         99.702042
chargeoff_within_12_mths               99.412924
collections_12_mths_ex_med             98.901247
tax_liens                              97.929374
total_rec_late_fee                     96.115106
collection_recovery_fee                90.665023
pub_rec_bankruptcies                   90.167387
recoveries                             89.107634
pub_rec                                87.175327
delinq_2yrs                            83.199954
num_tl_30dpd                           76.676079
out_prncp                              76.144122
out_prncp_inv                          76.144122
num_tl_120dpd_2m                       74.385494
num_tl_90g_dpd_24m                     72.702786
tot_coll_amt                           65.989631
num_accts_ever_120_pd                  59.765274
inq_last_6mths                         56.788814
mort_acc                               34.524645
open_il_12m                            20.188343
total_cu_tl                            19.883105
percent_bc_gt_75                       19.494667
inq_fi                                 18.452075
open_acc_6m                            16.661207
num_tl_op_past_12m                     14.596821
open_rv_12m                            13.548508
inq_last_12m                           10.489889
open_il_24m                            10.022932
total_il_high_credit_limit              9.966772
mths_since_recent_inq                   6.483316
open_rv_24m                             5.903520
open_act_il                             4.453250
total_bal_il                            4.242651
acc_open_past_24mths                    3.893734
sec_app_chargeoff_within_12_mths        2.622862
sec_app_collections_12_mths_ex_med      2.552143
num_il_tl                               2.539143
last_fico_range_low                     1.771628
sec_app_inq_last_6mths                  1.639029
num_actv_bc_tl                          1.620309
bc_open_to_buy                          1.265151
mo_sin_rcnt_tl                          1.229792
mo_sin_rcnt_rev_tl_op                   1.186112
sec_app_mort_acc                        1.093553
bc_util                                 0.924034
max_bal_bc                              0.924034
total_bc_limit                          0.904274
num_bc_sats                             0.798715
revol_util                              0.754515
revol_bal                               0.741515
mths_since_recent_bc                    0.511157
sec_app_open_act_il                     0.366598
num_actv_rev_tl                         0.330198
num_rev_tl_bal_gt_0                     0.322398
settlement_term                         0.269358
il_util                                 0.189279
num_bc_tl                               0.183039
last_pymnt_amnt                         0.132599
total_rec_int                           0.122719
total_rec_prncp                         0.120119
dti                                     0.107639
all_util                                0.071760
hardship_dpd                            0.067080
mths_since_last_delinq                  0.059800
total_bal_ex_mort                       0.051480
mths_since_recent_revol_delinq          0.039520
total_pymnt                             0.037440
total_pymnt_inv                         0.037440
annual_inc                              0.034840
total_rev_hi_lim                        0.033800
sec_app_revol_util                      0.030680
tot_cur_bal                             0.029120
num_op_rev_tl                           0.027560
avg_cur_bal                             0.027040
mths_since_recent_bc_dlq                0.023920
mths_since_rcnt_il                      0.020800
last_fico_range_high                    0.020280
sec_app_num_rev_accts                   0.016120
mths_since_last_major_derog             0.014040
sec_app_mths_since_last_major_derog     0.008320
tot_hi_cred_lim                         0.002600
sec_app_open_acc                        0.002600
num_sats                                0.002600
revol_bal_joint                         0.001560
open_acc                                0.001560
mths_since_last_record                  0.001040
mo_sin_old_il_acct                      0.001040

Having identified the columns with higher amounts of 0s, we decided to audit them one by one and review their unique values to understand whether the 0s are informative or if they represent null/NaN values. This audit is half based on the code shown below and half on a manual review of the dataset dictionary.

In [38]:
# 1. Calculate Zero Ratio again to get the target columns
zero_ratio = (df == 0).mean() * 100
# Define a threshold (e.g., columns with more than 50% zeros)
high_zero_threshold = 30.0
high_zero_cols = zero_ratio[zero_ratio > high_zero_threshold].sort_values(ascending=False).index.tolist()

def audit_high_zero_columns(dataframe, column_list):
    """
    Audits columns with high zero ratios to see value distribution 
    and help decide between dropping, keeping, or binarizing.
    """
    print(f"🔍 --- AUDITING {len(column_list)} COLUMNS WITH > {high_zero_threshold}% ZEROS --- \n")
    
    for col in column_list:
        print(f"📊 Feature: {col.upper()}")
        print(f"Zero Ratio: {zero_ratio[col]:.2f}%")
        
        # Count unique values excluding zero
        non_zero_values = dataframe[dataframe[col] != 0][col]
        unique_counts = non_zero_values.nunique()
        
        print(f"Unique values (excluding zero): {unique_counts}")
        
        if unique_counts < 15:
            # If few unique values, show frequency
            print("Distribution (Top Values):")
            print(dataframe[col].value_counts().head(10))
        else:
            # If many unique values, show basic stats for non-zero data
            print("Non-zero stats:")
            print(non_zero_values.describe()[['mean', 'min', 'max']])
        
        print("-" * 40)

# Execute the audit
audit_high_zero_columns(df, high_zero_cols)

🔍 --- AUDITING 20 COLUMNS WITH > 30.0% ZEROS ---

📊 Feature: DELINQ_AMNT
Zero Ratio: 99.77%
Unique values (excluding zero): 335
Non-zero stats:
mean     4089.927273
min         2.000000
max     65000.000000
Name: delinq_amnt, dtype: float64
----------------------------------------
📊 Feature: ACC_NOW_DELINQ
Zero Ratio: 99.70%
Unique values (excluding zero): 3
Distribution (Top Values):
acc_now_delinq
0.0    191736
1.0       545
2.0        24
3.0         4
Name: count, dtype: int64
----------------------------------------
📊 Feature: CHARGEOFF_WITHIN_12_MTHS
Zero Ratio: 99.41%
Unique values (excluding zero): 6
Distribution (Top Values):
chargeoff_within_12_mths
0.0    191180
1.0      1027
2.0        86
3.0         7
4.0         6
5.0         2
9.0         1
Name: count, dtype: int64
----------------------------------------
📊 Feature: COLLECTIONS_12_MTHS_EX_MED
Zero Ratio: 98.90%
Unique values (excluding zero): 9
Distribution (Top Values):
collections_12_mths_ex_med
0.0     190196
1.0       1968
2.0        114
3.0         18
4.0          4
5.0          3
6.0          2
9.0          2
20.0         1
7.0          1
Name: count, dtype: int64
----------------------------------------
📊 Feature: TAX_LIENS
Zero Ratio: 97.93%
Unique values (excluding zero): 16
Non-zero stats:
mean     1.643898
min      1.000000
max     39.000000
Name: tax_liens, dtype: float64
----------------------------------------
📊 Feature: TOTAL_REC_LATE_FEE
Zero Ratio: 96.12%
Unique values (excluding zero): 4685
Non-zero stats:
mean    3.642528e+01
min     2.000000e-10
max     1.098360e+03
Name: total_rec_late_fee, dtype: float64
----------------------------------------
📊 Feature: COLLECTION_RECOVERY_FEE
Zero Ratio: 90.67%
Unique values (excluding zero): 16329
Non-zero stats:
mean     239.334797
min        0.036000
max     7002.190000
Name: collection_recovery_fee, dtype: float64
----------------------------------------
📊 Feature: PUB_REC_BANKRUPTCIES
Zero Ratio: 90.17%
Unique values (excluding zero): 7
Distribution (Top Values):
pub_rec_bankruptcies
0.0    173400
1.0     18066
2.0       642
3.0       145
4.0        38
5.0        12
6.0         4
8.0         2
Name: count, dtype: int64
----------------------------------------
📊 Feature: RECOVERIES
Zero Ratio: 89.11%
Unique values (excluding zero): 18079
Non-zero stats:
mean     1408.803829
min         0.010000
max     35581.880000
Name: recoveries, dtype: float64
----------------------------------------
📊 Feature: PUB_REC
Zero Ratio: 87.18%
Unique values (excluding zero): 17
Non-zero stats:
mean     1.230183
min      1.000000
max     40.000000
Name: pub_rec, dtype: float64
----------------------------------------
📊 Feature: DELINQ_2YRS
Zero Ratio: 83.20%
Unique values (excluding zero): 22
Non-zero stats:
mean     1.604339
min      1.000000
max     26.000000
Name: delinq_2yrs, dtype: float64
----------------------------------------
📊 Feature: NUM_TL_30DPD
Zero Ratio: 76.68%
Unique values (excluding zero): 3
Distribution (Top Values):
num_tl_30dpd
0.0    147455
1.0       344
2.0        11
3.0         2
Name: count, dtype: int64
----------------------------------------
📊 Feature: OUT_PRNCP_INV
Zero Ratio: 76.14%
Unique values (excluding zero): 36099
Non-zero stats:
mean    10080.058441
min         0.060000
max     39091.640000
Name: out_prncp_inv, dtype: float64
----------------------------------------
📊 Feature: OUT_PRNCP
Zero Ratio: 76.14%
Unique values (excluding zero): 35624
Non-zero stats:
mean    10082.303379
min         0.060000
max     39091.640000
Name: out_prncp, dtype: float64
----------------------------------------
📊 Feature: NUM_TL_120DPD_2M
Zero Ratio: 74.39%
Unique values (excluding zero): 2
Distribution (Top Values):
num_tl_120dpd_2m
0.0    143050
1.0        92
2.0         7
Name: count, dtype: int64
----------------------------------------
📊 Feature: NUM_TL_90G_DPD_24M
Zero Ratio: 72.70%
Unique values (excluding zero): 20
Non-zero stats:
mean     1.533258
min      1.000000
max     22.000000
Name: num_tl_90g_dpd_24m, dtype: float64
----------------------------------------
📊 Feature: TOT_COLL_AMT
Zero Ratio: 65.99%
Unique values (excluding zero): 4386
Non-zero stats:
mean      1423.895208
min          2.000000
max     380757.000000
Name: tot_coll_amt, dtype: float64
----------------------------------------
📊 Feature: NUM_ACCTS_EVER_120_PD
Zero Ratio: 59.77%
Unique values (excluding zero): 25
Non-zero stats:
mean     2.131699
min      1.000000
max     35.000000
Name: num_accts_ever_120_pd, dtype: float64
----------------------------------------
📊 Feature: INQ_LAST_6MTHS
Zero Ratio: 56.79%
Unique values (excluding zero): 8
Distribution (Top Values):
inq_last_6mths
0.0    109210
1.0     51178
2.0     20527
3.0      8405
4.0      1858
5.0       757
6.0       272
7.0        68
8.0        34
Name: count, dtype: int64
----------------------------------------
📊 Feature: MORT_ACC
Zero Ratio: 34.52%
Unique values (excluding zero): 26
Non-zero stats:
mean     2.78168
min      1.00000
max     28.00000
Name: mort_acc, dtype: float64
----------------------------------------

The function below is intended to serve as a filter to help us quickly verify whether a column was correctly classified in the categories defined above.

In [39]:
def get_column_category(column_name, mapping_dict):
    """
    Checks which category a specific column belongs to based on the analysis_dict.
    """
    for category, columns in mapping_dict.items():
        if column_name in columns:
            return category
    return "other (or not found)"

test_col = 'loan_status' # You can change this name to any column
result = get_column_category(test_col, analysis_dict)
print(f"Verification: The column '{test_col}' is categorized as: {result.upper()}")

# 3. Batch verification (Optional)
# List of columns you want to verify right now
verify_list = ['sec_app_fico_range_low', 'mths_since_last_delinq', 'loan_amnt', 'settlement_term']

print("BATCH VERIFICATION:")
for col in verify_list:
    cat = get_column_category(col, analysis_dict)
    print(f"- {col:30} -> Category: {cat}")

Verification: The column 'loan_status' is categorized as: POST_LOAN
BATCH VERIFICATION:
- sec_app_fico_range_low         -> Category: second_applicant
- mths_since_last_delinq         -> Category: structural_missing
- loan_amnt                      -> Category: other
- settlement_term                -> Category: post_loan

In [40]:
low_variance_cols = []

for col in df.columns:
    vc = df[col].value_counts(dropna=False, normalize=True)
    if vc.iloc[0] > 0.99:   # más del 99% el mismo valor
        low_variance_cols.append(col)

low_variance_cols

['pymnt_plan',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount']

In [41]:
desc = df.describe().T
desc.sort_values(by='max', ascending=False).head(20)

,count,mean,std,min,25%,50%,75%,max
annual_inc,192309.0,75169.592025,69239.420623,0.00,45000.0000,64000.000000,90000.000000,8.700000e+06
tot_hi_cred_lim,147812.0,174407.636396,175198.129960,0.00,49067.7500,112098.500000,254223.000000,5.850873e+06
tot_cur_bal,147812.0,140579.788461,157130.293045,0.00,28571.7500,78569.000000,211994.750000,5.327039e+06
annual_inc_joint,5947.0,122752.267765,65794.037105,13464.00,82772.0000,110000.000000,146000.000000,1.500000e+06
total_rev_hi_lim,147812.0,33396.409128,33326.342610,0.00,14400.0000,24700.000000,41500.000000,1.417100e+06
total_bal_ex_mort,157627.0,48858.278112,47215.876230,0.00,20217.0000,36431.000000,61609.500000,1.276247e+06
total_il_high_credit_limit,147812.0,41767.308371,43336.431399,0.00,14006.7500,31084.000000,56414.250000,1.214546e+06
revol_bal,192309.0,16045.894254,20507.664434,0.00,5860.0000,11215.000000,19809.000000,1.190046e+06
total_bal_il,70775.0,35223.405016,43461.041253,0.00,8607.5000,22890.000000,46015.500000,8.017790e+05
total_bc_limit,157627.0,22276.557677,21968.833712,0.00,8000.0000,15700.000000,29000.000000,5.205000e+05
max_bal_bc,70775.0,5799.395309,5701.857563,0.00,2282.0000,4402.000000,7567.000000,5.000000e+05
revol_bal_joint,5204.0,33829.516334,29134.779251,0.00,14526.7500,26205.500000,43868.000000,4.768260e+05
avg_cur_bal,147807.0,13492.382350,16225.744197,0.00,3051.0000,7365.000000,18835.000000,4.668400e+05
tot_coll_amt,147812.0,201.409906,1907.319784,0.00,0.0000,0.000000,0.000000,3.807570e+05
bc_open_to_buy,155919.0,10463.047428,15670.609513,0.00,1481.0000,4797.000000,12801.000000,3.036220e+05
delinq_amnt,192309.0,9.357690,595.661720,0.00,0.0000,0.000000,0.000000,6.500000e+04
total_pymnt,192309.0,13315.069437,10244.756871,0.00,5571.5300,10789.620253,18383.735916,6.294899e+04
total_pymnt_inv,192309.0,13275.957397,10214.302022,0.00,5557.0300,10757.310000,18320.590000,6.290403e+04
last_pymnt_amnt,192309.0,3567.078779,5841.653595,0.00,313.1600,657.100000,4508.250000,4.143400e+04
hardship_payoff_balance_amount,604.0,11263.933460,7425.955090,665.09,5896.6575,9507.530000,15366.685000,4.014935e+04

The analysis of the maximum values reveals the presence of extreme values in some financial variables, which suggests the need to apply transformations or outlier treatment techniques in later stages.

In [42]:
desc.assign(
    mean_median_ratio = desc['mean'] / desc['50%']
).sort_values('mean_median_ratio', ascending=False).head(10)

,count,mean,std,min,25%,50%,75%,max,mean_median_ratio
pub_rec,192309.0,0.157767,0.502036,0.0,0.0,0.0,0.0,40.000000,inf
inq_last_6mths,192309.0,0.681424,0.977064,0.0,0.0,0.0,1.0,8.000000,inf
delinq_2yrs,192309.0,0.269530,0.798124,0.0,0.0,0.0,0.0,26.000000,inf
total_rec_late_fee,192309.0,1.415083,11.190303,0.0,0.0,0.0,0.0,1098.360001,inf
recoveries,192309.0,153.452068,774.136498,0.0,0.0,0.0,0.0,35581.880000,inf
out_prncp_inv,192309.0,2404.686422,5862.737964,0.0,0.0,0.0,0.0,39091.640000,inf
open_il_12m,70775.0,0.670816,0.925402,0.0,0.0,0.0,1.0,20.000000,inf
acc_now_delinq,192309.0,0.003146,0.059249,0.0,0.0,0.0,0.0,3.000000,inf
tot_coll_amt,147812.0,201.409906,1907.319784,0.0,0.0,0.0,0.0,380757.000000,inf
collection_recovery_fee,192309.0,22.341847,128.942794,0.0,0.0,0.0,0.0,7002.190000,inf

Several numerical variables present highly skewed distributions, with median values equal to zero and a small proportion of non-zero observations. This pattern is expected for count-based credit history variables. However, some highly skewed variables correspond to post-loan information and will therefore be excluded from the modeling process to prevent data leakage.

EDA (cerrando)
1. Tratamiento columnas con alto % de 0s ⏳
2. Matriz de missing (missingno) ⏳
3. Valores faltantes explícitos ✅
4. Valores faltantes ocultos ✅
5. Filas duplicadas ✅
6. Drop policy_code ✅

Decisiones de features
7. Identificar columnas data leakage ⏳(ya estan identificadas, ahora hay que hacer drop)
8. Definir estrategia second applicant (flag + drop cols) ⏳
9. Identificar columnas ID / no predictivas ⏳(ya estan identificadas, ahora hay que hacer drop)
10. Definir target ⏳(ya identificado)

Modelado
11. Crear df_model
12. Split temporal
13. Imputación / preprocessing