In [3]:
import sqlite3
import pandas as pd

# NOTA
El DataFrame df se crea a partir de la tabla basa_datos_pripal de la base de datos credit_scoring.db. El archivo no se incluye en el repositorio debido a su tamaño; la generación de la base de datos a partir del CSV original y la creación de la tabla se explica detalladamente en el notebook data-collection.ipynb

# EDA

In [4]:
conn = sqlite3.connect("/workspaces/final_project_creditscoring/Data/credit_scoring.db")
df = pd.read_sql("SELECT * FROM basa_datos_pripal", conn)
conn.close()

print(df.shape)
print(df.tail())

(192309, 151)
               id member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
192304  145205826      None     3000.0       3000.0           3000.0
192305  144837203      None    11500.0      11500.0          11500.0
192306  144546894      None    28925.0      28925.0          28925.0
192307  143899259      None    20000.0      20000.0          20000.0
192308  144882556      None     2800.0       2800.0           2800.0

              term  int_rate  installment grade sub_grade  ...  \
192304   36 months      7.56        93.41     A        A3  ...
192305   60 months     23.40       326.84     E        E1  ...
192306   60 months     20.89       780.73     D        D4  ...
192307   60 months     26.31       602.49     E        E4  ...
192308   36 months     16.91        99.71     C        C5  ...

       hardship_payoff_balance_amount hardship_last_payment_amount  \
192304                            NaN                          NaN
192305                            NaN                          NaN
192306                            NaN                          NaN
192307                            NaN                          NaN
192308                            NaN                          NaN

       disbursement_method  debt_settlement_flag debt_settlement_flag_date  \
192304                Cash                     N                      None
192305                Cash                     N                      None
192306                Cash                     N                      None
192307                Cash                     N                      None
192308                Cash                     N                      None

       settlement_status settlement_date settlement_amount  \
192304              None            None               NaN
192305              None            None               NaN
192306              None            None               NaN
192307              None            None               NaN
192308              None            None               NaN

       settlement_percentage settlement_term
192304                   NaN             NaN
192305                   NaN             NaN
192306                   NaN             NaN
192307                   NaN             NaN
192308                   NaN             NaN

[5 rows x 151 columns]